{% extends 'probase.html.twig' %}

{% block title %}Раса{% endblock %}

{% block menupro %}
    {{ include('app/proekts/drevorods/_tabs.html.twig') }}
{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('app.proekts.drevorods.rodras') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block bodyy %}

    <div  class="proekts proekts--drev-rod">

        <h1 class="dre_title ">Родословная...</h1>

        {% if rasas is  empty %}

        <h1 class="dre_title "> Пока нет паспортных данных для маток.  </h1>

        {% else %}

            <b class="drev-rod_title " > Данные   из паспорта купленной матки. </b>

            <div class="drev-rod  drev-rod--rodrod">

                <ul class="drev-rod_ul  ">

                    <li class=" drev-rod_li  ">Paca</li>

                    <li class=" drev-rod_li  ">Кол-во стран, матководов</li>
                </ul>
                <ul class="drev-rod_ul  ">

                    <li class=" drev-rod_li  drev-border"></li>

                    <li class=" drev-rod_li  drev-border"></li>
                </ul>
                {% for rasa in rasas %}
                    {% if rasa.rodos > 0 %}
                        <ul class="drev-rod_ul  drev-grad-si">
                            <li class=" drev-rod_li ">
                                <a href="{{ path('app.proekts.drevorods.rods.rodrods',{'id': rasa.id}) }}"  class=" btnn-rodos " >
                                    {{ rasa.title }}
                                </a>
                            </li>
                            <li class=" drev-rod_li td_cent " >

                                    {{ rasa.rodos }}

                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}
        </div>

        {% endif %}

    </div>
    <div  class="proekts proekts--drev-rod">
        <h1 class="dre_title ">  <strong class="strongo strongo--kras">Внимание! </strong> </h1>
        <div class="drev-rod  drev-rod--rodrod">

            <ul >
                <li  class="drev-rod_title">
                    Если <strong class="strongo strongo--kras">нет </strong> нужной родословной, напишите запрос и
                    ожидайте,
                </li>
                <li class="drev-rod_title">
                    модератор   обработает запрос и запишит данные в БД.
                </li>
            </ul>

        </div>
    </div>

{% endblock %}