{% extends 'probase.html.twig' %}

{% block title %}Раса{% endblock %}

{% block menupro %}
    {{ include('app/proekts/drevorods/_tabs.html.twig') }}
{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('app.proekts.drevorods.rodras') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block bodyy %}
    <div  class="proekts proekts--drev-rod">

        <h1 class="dre_title ">Родословная.</h1>
        <b class="drev-rod_title " > Данные   из паспорта купленной матки. </b>

            <div class="drev-rod  drev-rod--rodrod">


                <ul class="drev-rod_ul  ">

                    <li class=" drev-rod_li  ">Paca</li>

                    <li class=" drev-rod_li  ">Кол-во стран, матководов</li>
                </ul>
                <ul class="drev-rod_ul  ">

                    <li class=" drev-rod_li  drev-border"></li>

                    <li class=" drev-rod_li  drev-border"></li>
                </ul>
                {% for rasa in rasas %}
                    {% if rasa.rodos > 0 %}
                        <ul class="drev-rod_ul  drev-grad-si">
                            <li class=" drev-rod_li ">
                                <a href="{{ path('app.proekts.drevorods.rods.rodrods',{'id': rasa.id}) }}"  >
                                    {{ rasa.title }}
                                </a>
                            </li>
{#                            <div class="drev-border"></div>#}
                            <li class=" drev-rod_li td_cent " >
                                <a href="{{ path('app.proekts.drevorods.rods.rodrods',{'id': rasa.id}) }}"  >
                                    {{ rasa.rodos }}
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                {% endfor %}

{#            </div>#}
        </div>
    </div>


    {#    {% set token = csrf_token('delete') %}#}

{#    <div class="box">#}
{#       #}
{#        <b class="dre_title  ">Расы зарегистрированные в БД </b>#}
{#        <table class="table table-bordered table-hover">#}
{#            <thead>#}
{#            <tr>#}

{#                <th> Название расы</th>#}
{#                <th>Сокращено</th>#}
{#                <th colspan="2"> редак-ть / удалить</th>#}
{#                <th colspan="3">Родословные (к-во)</th>#}


{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for raca in rasas %}#}
{#                <tr>#}
{#                {% if raca.rodos > 0  %}#}

{#                    <td>{{ raca.title }}</td>#}

{#                    <td>{{ raca.name }}</td>#}


{#                    <td> ( {{ raca.rodos }} )</td>#}


{#                {% endif %}#}
{#                </tr>#}

{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}




{% endblock %}