{% extends 'base.html.twig' %}

{% block title %}Линия{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('adminka.rasas') }}">Раса -- {{ rasa.title }}</a></li>
        <li class="breadcrumb-item active">Добавить линию или добавить номер к линии</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/adminka/rasas/_tabs.html.twig') }}

<article class="rasa">
	<h4 class="rasa__title  "><strong class="strongo"> Раса  </strong>:  {{ rasa.name }} | {{ rasa.title }}</h4>
	<div class="linia ">
      <div class="rasa__header  ">
         <h4 class="rasa__title "> <strong class="strongo">  Линии </strong> зарегистрированные в
             БД для  расы : <strong class="strongo"> {{ rasa.title }} </strong></h4>

          {% set token = csrf_token('delete') %}
                {% for linia in linias %}


                <ul class="rasa__data">
                    <li class="rasa__name rasa__name--wid15">{{ linia.name_star }} </li>
                    <li class="rasa__name  ">{{ linia.name }} ( {{ linia.nomers }} )</li>
                    <li>
                        <a href="{{ path('adminka.rasas.linias.nomers', {'linia_id': linia.id}) }}"
                           class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить <strong class="strongo strongo--kras"> номер </strong>
                        </a>
                    </li>

                    <li class="  rasa__name--wid5">
                        <a href="{{ path('adminka.rasas.linias.edit', {'id': rasa.id, 'linia_id': linia.id}) }}"
                            class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>
                    </li>
                    <li class="rasa__name--wid5">
                        <form action="{{ path('adminka.rasas.linias.delete', {'id': rasa.id, 'linia_id': linia.id}) }}" method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                            <input type="hidden" name="token" value="{{ token }}" />
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-trash"></span></button>
                        </form>
                    </li>


                </ul>
         {% endfor %}
    </div>

    <div class = "rasa__content"  >
        <a href="{{ path('adminka.rasas.linias.create', {'id': rasa.id}) }}"
            class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить другую
              <strong class="strongo strongo--kras"> линию </strong> в БД</a>
    </div>
</div>

</article><!-- rasas -->


{% endblock %}