{% extends 'proekt/base.html.twig' %}

{% block title %}Nomer{% endblock %}

{% block sidebar %}              
    {% include('proekt/pasekas/matkas/side/_side_plem_nomer.html.twig') %}
{% endblock %}

{% block kroxii %}
  <a href="{{ path('proekt') }}">Главная</a>
  <a href="{{ path('proekt.pasekas.matkas.plemmatkas.creates') }}">Рег-ция ПлемМатки</a>
  <a href="{{ path('proekt.pasekas.rasas.plemmatka') }}">Выбoр Расы</a>
  <a href="{{ path('proekt.pasekas.rasas.linias.plemmatka' , {'id': linia.rasa.id} ) }}">Раса: {{ linia.title }} : Линии - Ветки</a>
  <span class="aktiv">Выбор номера матки</span>
{% endblock %}

{% block bodyy %}
  <div class="proekts proekts--rasa">
    {% include 'proekt/pasekas/rasas/_rasa-includ.html.twig' %}

    <div class="proekts-plr">
      <ul class="ras__data">
        <li>
          <svg width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-check2"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </li>
        <li class="ras__name">
          Раса : <strong class="strongo strongo--kras">{{ linia.title }}</strong>

        </li>
      </ul>
    </div>

    {# <h1 class="rasa__title  "><strong> Раса </strong> :   {{ linia.title }}
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </h1> #}

    <div class="lini">
      <ul class="ras__data">
        <li>
          <svg width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-check2"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </li>
        <li class="ras__name">
         Линия : <strong class="strongo strongo--kras">{{ linia.name }}</strong>
        </li>
      </ul>

      <div class="nome">
        <div class="lini-margin">
          <h1 class="ras__title">
             Ветка : <strong class="strongo strongo--kras">{{ linia.nameStar }}</strong> и
            <strong class="strongo ">номера,</strong> на ней зарегистрированные
          </h1>

          {% for nomer in nomers %}
            <ul class="ras__data ras__data--ras">
              <li class="ras__name">{{ linia.nameStar }}<strong class="strongo strongo--kras">-{{ nomer.vetka_nomer }}</strong></li>
              <li>
                <div class="ras-nomer ras-nomer--wid12">
                  {{ nomer.name }}
                </div>
              </li>
              {% if nomer.status == "active"   %}
                  <li class="ras__name--widt10">
                    <a href="{{ path('proekt.pasekas.matkas.plemmatkas.creates.plemmatka',{ id: nomer.id} ) }}"
                       class="btnn btnn--pt btnn--mb0 ">  <strong class="strongo strongo--kras">выбрать номер</strong>
                    </a>
                  </li>
              {% else %}
                <li class="ras__name--widt10">

                </li>
              {% endif %}
<div class = "break" >
              <li>
                <strong class="strongo strongo--kras"> {{ plemmatka_status(nomer.status) }} </strong>
              </li>

              {% if nomer.status == "active"   %}

                  <li class="ras__name--widt10">
                      <form action="{{ path('proekt.pasekas.rasas.linias.nomers.archive',{ linia_id: linia.id, id: nomer.id} ) }}" method="post" onsubmit="return confirm('Вы уверены?')">
                        <input type="hidden" name="token" value="{{ csrf_token('archive') }}" />
                        <button type="submit" class="btnn btnn--pt btnn--mb0">В архив</button>
                      </form>
                  </li>
              {% endif %}

              {% if nomer.status == "archived" %}
                  <li class="ras__name--widt10">
                      <form action="{{ path('proekt.pasekas.rasas.linias.nomers.reinstate',{ linia_id: linia.id, id: nomer.id} ) }}" method="post" onsubmit="return confirm('Вы уверены?')">
                        <input type="hidden" name="token" value="{{ csrf_token('reinstate') }}" />
                        <button type="submit" class="btnn btnn--pt btnn--mb0">Из архива</button>
                      </form>
                  </li>

              {% endif %}

</div>

            </ul>
          {% endfor %}
        </div>

        {# <div class = "rasa__content" > #}
        {# <a href="{{ path('paseka.rasas.linias.nomers.create', {'linia_id': linia.id}) }}" #}
        {# class="btn-my btn-my--sm">Добавить другой #}
        {# <strong class="stro stro--kras"> номер </strong> в БД</a> #}
        {# </div> #}
      </div>
    </div>
  </div>
  <!-- rasas -->
{% endblock %}
