{% extends 'base.html.twig' %}

{% block title %}Ветка{% endblock %}


  {% block kroxii %}
      <a href="{{ path('home') }}">Главная</a>
      <a href="{{ path('drevos.rass.indbr') }}">Раса</a>
      <span class="aktiv ">Линии</span>
  {% endblock %}

{% block body %}

    {{ include('app/adminka/_tabs.html.twig') }}

    <article class="rasa">
        <h4 class="rasa__title  "><strong class="strongo--sin"> Раса </strong> :   {{ rasa.title }}</h4>
        <div class="linia ">
            <h4 class="rasa__title  "><strong class="strongo--sin"> Линия </strong> :
                <a href="{{ path('drevos.rass.linibrs.show', {'id': rasa.id}) }}"> {{ linia.name }}
                </a>

            </h4>

            {% if vetkas is  empty %}

                <h1 class="rasa__title"> Пока для этой  линии - <strong class="strongo--kras"> нет </strong>
                      зарегистрированных <strong class="strongo--kras"> веток </strong>  </h1>

            {% else %}

            <div class="vetka ">
                <div class="rasa__header  ">
                    <h5 class="rasa__title  "><strong class="strongo--sin"> Ветки </strong> зарегистрированные в БД </h5>
{#                    <div  class="shapka-nomer ">#}
                        <ul class="rasa__data">

                            <li class="rasa__name rasa__name--wid15   ">Номер ветки</li>
                            <li class="rasa__name  td_cent  "> Кол-во маток</li>
                            <li class=" rasa__name--wid15 td_cent">
                                Смотреть\добавить
                            </li>
                            <li >
                                ред-вать
                            </li>
                            <li class="rasa__name--wid5">
                                удалить
                            </li>

                        </ul>
{#                    </div>#}
                    {#----------------------------#}

                    {% set token = csrf_token('delete') %}
                    {% for vetka in vetkas %}
                        <ul class="rasa__data">
    {#                        {% if vetka.vetka_id %}#}
    {#                            {% set foos = vetka.name_star|split('-') %}#}
    {#                            <li class="rasa__name rasa__name--wid35">#}
    {#                                {% for i in 1..foos|length-1 %}#}
    {#                                    <img  style="margin-bottom: 2px" src="{{ asset('assets/proekt/images/strelka_w.png') }}" alt="редактировать">#}
    {#                                {% endfor %}#}
    {#                                {{ vetka.name_star }} ( {{ vetka.nomers }} )#}
    {#                            </li>#}

    {#                        {% else %}#}
                                <li class="rasa__name rasa__name--wid15 rasa__name--col">
                                     {{ vetka.nomer }}-{{ vetka.god }}
                                </li>
    {#                        {% endif %}#}
                            <li class="rasa__name td_cent" >{{ vetka.kol_nombr }}</li>
                            <li class="rasa__name--wid15 td_cent">
                                <a href="{{ path('drevos.rass.linibrs.vetbrs.nombrs', {'vetka_id': vetka.id}) }}"
                                   class="btnn btnn--mb0 btnn--pt btnn--rasa">номер матки
                                </a>
                            </li>

                            <li class=" rasa__name--wid5 td_cent">
                                <a href="{{ path('drevos.rass.linibrs.vetbrs.edit', {'id': linia.id, 'vetka_id': vetka.id}) }}"
                                   class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>
                            </li>
                            <li class=" rasa__name--wid5 td_cent">
                                <form action="{{ path('drevos.rass.linibrs.vetbrs.delete', {'id': linia.id, 'vetka_id': vetka.id}) }}" method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                                    <input type="hidden" name="token" value="{{ token }}" />
                                    <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-trash"></span></button>
                                </form>
                            </li>


                        </ul>
                    {% endfor %}
                </div>
            {% endif %}
                <div class = "rasa__content"  >
                    <a href="{{ path('drevos.rass.linibrs.vetbrs.create', {'id': linia.id}) }}"
                       class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить новую
                        <strong class="strongo strongo--kras"> ветку </strong> в БД</a>
                </div>
            </div>


        </div>

    </article><!-- rasas -->

{#    {{ include('app/adminka/rasas/_tabs.html.twig') }}#}

{#<article class="rasa">#}
{#    #}
{#        <h4 class="rasa__title  ">Раса : <strong  class="stro--kras" >  {{ rasa.name }} </strong>   - {{ rasa.title }}</h4>#}
{#        <div class="vetka ">#}
{#            <div class="rasa__header  ">#}
{#                <h4 class="rasa__title "> <strong class="strongo">  Линии, </strong> зарегистрированные в#}
{#                    БД для  расы : <strong class="strongo"> {{ rasa.title }} </strong></h4>#}


{#                <ul class="rasa__data">#}
{#              <li class="rasa__name rasa__name--wid15 "> Название расы  </li>#}
{#              <li class="rasa__name  "> ( кол-во линий ) </li>#}
{#              <li class=" rasa__name--wid15">#}
{#                  Смотреть\добавить линию#}
{#              </li>#}
{#              <li class=" rasa__name--wid5 ">#}
{#                  редактировать#}
{#              </li>#}
{#              <li class="rasa__name--wid5">#}
{#                  удалить#}
{#              </li>#}
{#          </ul>#}

{#          {% set token = csrf_token('delete') %}#}
{#                {% for vetka in vetkas %}#}

{#                    ( {{ rasa.vetkas }} )      #}
{#                <ul class="rasa__data">#}
{#                    <li class="rasa__name rasa__name--wid15 ">  {{ rasa.title }}  </li>#}
{#                    <li class="rasa__name  ">{{ rasa.name }}  </li>#}
{#                    <li class=" rasa__name--wid15">#}
{#                        <a href="{{ path('adminka.rasas.vetkas',{'id': rasa.id}) }}"#}
{#                           class="btnn btnn--mb0 btnn--pt btnn--rasa">См/Добавить#}
{#                            <strong class="strongo strongo--kras"> линии </strong>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class=" rasa__name--wid5 ">#}
{#                        <a href="{{ path('adminka.rasas.edit', {'id': rasa.id}) }}"#}
{#                            class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>#}
{#                    </li>#}
{#                    <li class="rasa__name--wid5">#}
{#                        <form action="{{ path('adminka.rasas.delete', {'id': rasa.id}) }}"#}
{#                              method="post" onsubmit="return confirm('Подтверждаете - удалить?')">#}
{#                            <input type="hidden" name="token" value="{{ token }}" />#}
{#                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa "><span class="fa fa-trash"></span></button>#}
{#                        </form>#}
{#                    </li>#}


{#                </ul>  #}
{#         {% endfor %}                #}
{#    </div>#}

{#    <div class = "rasa__content"  >#}
{#        <a href="{{ path('adminka.rasas.create') }}"#}
{#            class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить название другой <strong class=" strongo--kras"> расы </strong>  в БД</a>#}
{#    </div>#}
{#    </article><!-- rasas -->#}

{% endblock %}