{% extends 'probase.html.twig' %}

{% block title %}Линия{% endblock %}

{% block sidebarr %}
    {% include('app/proekts/pasekas/matkas/side/_side_plem_linia.html.twig') %}
{% endblock %}

{% block menupro %}
    {{ include('app/proekts/pasekas/matkas/_tabs.html.twig') }}
{% endblock %}

{% block kroxii %}
    <a href="{{ path('proekt') }}">Главная</a>
{#    <a href="{{ path('app.proekts.pasekas.matkas.plemmatkas.creates') }}">Рег-ция ПлемМатки</a>#}
{#    <a href="{{ path('app.proekts.pasekas.rasas.plemmatka') }}">Выбoр Расы</a>#}
    <span class="aktiv ">Раса: {{ rasa.name }} : Линии - Ветки</span>
{% endblock %}

{% block bodyy %}

<div  class="proekts proekts--rasa">

    <div class="inklud inklud--rasa">
        <div class="inklud__title teni teni--rasa">
            Выбираем Линию для регистрации брендовой ПлемМатки
        </div>
    </div>

    <div class="proekts-plr  "> 
     {# <div >  #}
        <ul class="ras__data">
            <li >
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
            </li>
            <li class="ras__name   ">
                <strong class="strongo " >Раса :  </strong> {{ rasa.title }}
            </li>
        </ul>    
    
    </div>    
    <div class="lini ">
        <div class="lini-margin ">
            {% if linias %}
                <h1 class="ras__title "> <strong class="strongo " >Линии  </strong>  </h1>
                {% for linia in linias %}
                    <ul class="ras__data lini-margin ">
                        
{#                        {% if linia.vetka_id %}#}
{#                            {% set foos = linia.name_star|split('-') %}#}
{#                            <li class="ras__name ">#}
{#                                {% for i in 1..foos|length-1 %}#}
{#                                    <img  style="margin-bottom: 2px" src="{{ asset('assets/app/proekts/images/strelka-p.png') }}" alt="редактировать">#}
{#                                {% endfor %}#}
{#                                    <strong class="strongo "> ветка </strong> {{ linia.name }}  ( {{ linia.kol_vets }} )#}
{#                            </li>#}
{#                            {% set foos = linia.title|split('_') %}#}
{#                            <li  class="ras__name " >  #}
{#                                <strong class="strongo "> от матки </strong> #}
{#                                 <strong class="strongo strongo--kras"> {{foos[1]}} </strong> #}
{#                              #}
{#                            </li> #}

{#                            {% if linia.nomers > 0.1 %} #}
{#                            </ul>#}
{#                            <ul class="ras__data">#}
{#                                <li class="ras__title ">Перейти #}
{#                               #}
{#                                    <a href="{{ path('app.proekts.pasekas.rasas.linias.nomers.plemmatka', {'ras': rasa.id, 'linia_id': linia.id}) }}" class="btnn btnn--pt btnn--ml3 btnn--col-ras"  >#}
{#                                        Ветки  <strong class="strongo strongo--kras"> =>  </strong>Номера  #}
{#                                    </a>#}
{#                                </li>#}
{#                                </ul>#}
{#                                <ul class="ras__data">#}
{#                               #}
{#                                <li class = "ras__title" >   или вернитесь     #}
{#                                    #}{# <a href="{{ path('app.proekts.pasekas.rasas.linias.vetka', { 'linia_id': linia.id,  'name_star' : linia.name_star}) }}"  #}
{#                                     <a href="{{ path('app.proekts.pasekas.rasas.linias.nomers.plemmatka', { 'linia_id': linia.vetka_id}) }}"#}
{#                                    class="btnn btnn--pt btnn--ml3 btnn--col-ras"  >#}
{#                                        на предыдущую страницу#}
{#                                    </a>#}
{#                                </li>  #}
{#                            {% else %}#}
{#                           #}
{#                                <li class="ras__name ras__name--widt30" >#}
{#                                -  -  дочерних <strong class="strongo strongo--kras">  нет! </strong> #}
{#                               </li> #}

{#                                </ul>#}
{#                                <ul class="ras__data">#}
{#                               #}
{#                                <li class = "ras__title" >  Напишите запрос или вернитесь     #}
{#                                    #}{# <a href="{{ path('app.proekts.pasekas.rasas.linias.vetka', { 'linia_id': linia.id,  'name_star' : linia.name_star}) }}"  #}
{#                                     <a href="{{ path('app.proekts.pasekas.rasas.linias.nomers.plemmatka', { 'linia_id': linia.vetka_id}) }}"#}
{#                                    class="btnn btnn--pt btnn--ml3 btnn--col-ras"  >#}
{#                                        на предыдущую страницу#}
{#                                    </a>#}
{#                                </li>  #}
{#                               #}
{#                                                                        #}
{#                            {% endif %}#}
                                    
{#                        {% else %}#}
                                <li class="ras__name ras__name--widt30">
                                    {{ linia.name }}
                                </li>

                                <li>
                                    <a href="{{ path('app.proekts.drevorods.rasbrs.linibrs.vetbrs.plemvet', { 'id': linia.id}) }}" class="btnn btnn--pt btnn--ml3 btnn--col-ras"  >
                                        Веткa  <strong class="strongo strongo--kras">=> </strong>
                                    </a>
                                </li>
                        <li class="ras__name rasa__name--widt-9">( {{ linia.kol_vets }} )</li>
{#                        {% endif %}#}
                               
                    </ul>
                {% endfor %}
            {% else %}
                <h1 class="ras__title "> <strong class="strongo strongo--kras " >Напишите запрос :   </strong> <strong class="strongo " > Раса - Линия - Ветка - Номер   </strong>  </h1>
            {% endif %}
        </div>         
    </div>
    
</div><!-- rasas -->

    {# ----------------------- #}



    <div  class="proekts proekts--rasa">
        <div class="proekts-plr  ">
            <h1 class="ras__title  ">Написать запрос </h1>

            <div class="mesto-form__header  ">
                <div class="mesto-form ">
                                    {{ form_start(commentForm) }}

                                    {{ form_widget(commentForm) }}

                    <button type="submit" class="btnn  btnn--mb0 btnn--pt">Отправить</button>
                                    {{ form_end(commentForm) }}

                </div>
            </div>
        </div>
    </div>
    <div  class="proekts proekts--rasa">
        <div class="proekts-plr  ">
            <h3 class="ras__title">Запросы на недостающие названия  Раса - Линия - Ветка - Номер</h3>
            {% if comments|length %}
                <div class="card-body">
                    <div class="direct-chat">
                        <div class="direct-chat-messages">
                            {% for comment in comments %}
                                <div class="direct-chat-msg">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left">{{ comment.author_nike }}</span>
                                        <span class="direct-chat-timestamp pull-right">{{ comment.date|date('Y-m-d H:i:s') }}</span>
                                    </div>
                                    <img class="direct-chat-img" src="{{ gravatar(comment.author_email, 40) }}" alt="">
                                    <div class="direct-chat-text direct-chat-text--rasa">
                                        {{ comment.text|markdown|purify|adminka_processor }}
                                        {% if is_granted('manage', comment) %}
                                            <div class="controls-m ">
                                                <a href="{{ path('app.proekts.pasekas.rasas.linias.comment.edit',
                                                    {'rasa_id': rasa.id, 'id': comment.id}) }}"
                                                   class="btnn btnn--mb0 btnn--pt btnn--col-golub">
                                                    <div class="karandash karandash--child">
                                                        <img src="{{ asset('assets/app/proekts/images/karandash.png') }}" alt="редактировать">
                                                    </div>
                                                </a>
                                                <form action="{{ path('app.proekts.pasekas.rasas.linias.comment.delete', {'rasa_id': rasa.id, 'id': comment.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                                                    <input type="hidden" name="token" value="{{ csrf_token('delete-comment') }}" />
                                                    <button type="submit"  class="btnn  btnn--ml3 btnn--pt btnn--col-golub">

                                                        <div class="karandash karandash--child">
                                                            <img src="{{ asset('assets/app/proekts/images/delet.png') }}" alt="удалить">
                                                        </div>
                                                    </button>
                                                </form>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
