{% extends 'base.html.twig' %}

{% block title %}{{ rasa.name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Матки</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas') }}">Матка</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas.rasa.show', {'id': rasa.id}) }}">{{ rasa.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas.rasa.settings', {'rasa_id': rasa.id}) }}">Редактирование</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas.rasa.settings.linias', {'rasa_id': rasa.id}) }}">Линия</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas.rasa.settings.linias.show', {'rasa_id': rasa.id, 'id': linia.id}) }}">{{ linia.name }}</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
{% endblock %}

{% block body %}

  {% include 'app/paseka/rasas/rasa/_tabs-r.html.twig' %}

    {% include 'app/paseka/rasas/rasa/settings/_tabs-s.html.twig' %}

    <h2>{{ rasa.name }}</h2>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}