{% extends 'base.html.twig' %}

{% block title %}Линии{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Матки</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas') }}">Матка</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas.rasa.show', {'id': rasa.id}) }}">{{ rasa.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas.rasa.settings', {'rasa_id': rasa.id}) }}">редактирование</a></li>
        <li class="breadcrumb-item active">Линии</li>
    </ol>
{% endblock %}

{% block body %}

    {% include 'app/paseka/rasas/rasa/_tabs-r.html.twig' %}

    {% include 'app/paseka/rasas/rasa/settings/_tabs-s.html.twig' %}

    <div class="controls">
        <a href="{{ path('paseka.rasas.rasa.settings.linias.create', {'rasa_id': rasa.id}) }}" class="btn btn-success"> {{ rasa.name }} ---  Добавить линию</a>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Сок-ное назване Линии</th>
                <th>Назване Линии</th>
                <th>Регистрирует линию</th>
                <th></th>
            </tr>
            <tbody>
            {% set token = csrf_token('delete') %}
            {% for linia in linias %}
                <tr>
                    <td>{{ linia.sort_linia }}</td>
                    <td>{{ linia.name }}</td>
                    <td>{{ linia.name_star }}</td>
                    {# <td>({{ linia.pchelowods_count }}----)</td> #}
                    <td>
                        <div class="d-flex flex-row">
                            <a href="{{ path('paseka.rasas.rasa.settings.linias.edit', {'rasa_id': rasa.id, 'id': linia.id}) }}" class="btn btn-sm btn-primary mr-1"><span class="fa fa-pencil"></span></a>
                            <form action="{{ path('paseka.rasas.rasa.settings.linias.delete', {'rasa_id': rasa.id, 'id': linia.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                                <input type="hidden" name="token" value="{{ token }}" />
                                <button type="submit" class="btn btn-sm btn-danger"><span class="fa fa-times"></span></button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %} 