{% extends 'base.html.twig' %}

{% block title %}Матки{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas') }}">Пасека</a></li>
        <li class="breadcrumb-item active">Раса---------</li>
    </ol>
{% endblock %}

{% block body %}

     {{ include('app/paseka/_tabs-p.html.twig') }}

    <div class="controls">
        <a href="{{ path('paseka.rasas.create') }}" class="btn btn-success">Добавить расу</a>
    </div>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.name) }}</div>
                {# <div class="col-md-2">{{ form_widget(form.status) }}</div> #}
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a href="{{ path('paseka.rasas') }}" class="btn btn-outline-secondary">Reset</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Номер</th>        
                <th>{{ knp_pagination_sortable(pagination, 'Раса - название', 'name') }}</th>
                <th>Сокращенное название</th>
            </tr>
            </thead>
            <tbody>
            {% for rasa in pagination %}
                <tr>
                    <td>{{ rasa.sort }}</td>
                    <td><a href="{{ path('paseka.rasas.rasa.show', {'id': rasa.id}) }}">{{ rasa.name }}</a></td>
                    <td>{{ rasa.psewdo }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}