{% extends 'base.html.twig' %}

{% block title %}Раса{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item active">Расы из БД</li>
    </ol>
{% endblock %}


{% block body %}

    {{ include('app/adminka/rasas/_tabs.html.twig') }}

<article class="rasa">
    <h1 class="rasa__title  ">Выбрать названия  расы </h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-my btn-my--sm">Добавить в БД</button>
            <a href="{{ path('adminka.rasas') }}"
                class="btn-my btn-my--sm"> Выйти из режима "Добавить"</a>
            {{ form_end(form) }}

</article><!-- rasas -->



{% endblock %}