{% extends 'probase.html.twig' %}

{% block title %}Ветка{% endblock %}

{% block menupro %}
    {{ include('app/proekts/drevorods/_tabs.html.twig') }}
{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block bodyy %}

       <div  class="proekts proekts--drev-rod">

        <h1 class="dre_title ">Родословная. Данные   из паспорта купленной матки</h1>
        <div class="drev-rod">
            <a href="{{ path('app.proekts.drevorods.rodras') }}"
               class=" btnn-bord " >  Paca ::
            </a>
            <b class="drev-rod_title drev-grad" > {{ rasa.title }}  </b>

            <div class="drev-rod drev-rod--rodrod">

                <a href="{{ path('app.proekts.drevorods.rods.rodrods', {'id': rasa.id}) }}"
                   class=" btnn-bord " > Страна - матковод - код ::
                </a>
                <b class="drev-rod_title drev-grad" >
                    {{ stran.name}} - {{ rodo.nameMatkov }} - {{ rodo.kodMatkov }}</b>
                <div class="drev-rod drev-rod--lini">

                    <a href="{{ path('app.proekts.drevorods.rods.linis', {'id': rodo.id}) }}"
                       class=" btnn-bord " >Линия ::
                    </a>

                    <b class="drev-rod_title drev-grad" >
                        {% if linia.name == "-" %}
                            названя нет
                        {% else %}
                            {{ linia.name }}
                        {% endif %}
                    </b>
                    <div class="drev-rod drev-rod--lini">

                        <a href="{{ path('app.proekts.drevorods.rods.rodrods.linis.wetkas', {'id': linia.id}) }}"
                           class=" btnn-bord "  >Материнка Ветка   ::
                        </a>

                        <b class="drev-rod_title drev-grad" >
                            {{ wetka.nameW }}</b>

                        <div class="drev-rod drev-rod--lini">

                            <a href="{{ path('app.proekts.drevorods.rods.linis.wetkas.nomwets', {'id': wetka.id}) }}"
                                class=" btnn-bord "  > Материнка - номер ::
                            </a>


                            <b class="drev-rod_title drev-grad" >{{ nomwet.titW }}</b>

                                <div class="drev-rod drev-rod--lini">

                                    {% if mattruts is  empty %}

                                    <h1 class="dre_title ">  <strong class="strongo strongo--kras">Внимание! </strong> </h1>

                                    <ul >
                                        <li  class="drev-rod_title">
                                            Ввод данных для этой <strong class="strongo strongo--kras">родословной </strong> почему-то не закончен ?!,
                                        </li>
                                        <li class="drev-rod_title">
                                            пожалуйста, повторите запрос - ошибку исправим.
                                        </li>
                                        <li class="drev-rod_title">
                                            С извиненями за неудобство.
                                        </li>
                                    </ul>

                                    {% else %}

                                        <ul class="drev-rod_ul  ">
                                            <li class=" drev-rod_li">
                                                Материнка трутня
                                            </li>
                                            <li class=" drev-rod_li">
                                                Кол-во
                                            </li>
                                        </ul>
                                        <ul class="drev-rod_ul  ">
                                            <li class=" drev-rod_li  drev-border"></li>
                                            <li class=" drev-rod_li  drev-border"></li>

                                        </ul>
                                        {% for mattrut in mattruts %}

                                            <ul class="drev-rod_ul drev-grad-si">
                                                <li class=" drev-rod_li">
                                                    <a href="{{ path('app.proekts.drevorods.rods.rodrods.linis.wetkas.nomwets.mattruts.noms',{'id': mattrut.id}) }}" class=" btnn-rodos "  >
                                                            {{ mattrut.name_ot }}
                                                    </a>
                                                </li>
                                                <li class=" drev-rod_li">  {{ mattrut.nomers }}  </li>
                                            </ul>
                                        {% endfor %}
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{#    <div class = "rasa__content"  >#}
{#        <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.create', {'id': wetka.id}) }}"#}
{#           class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить еще<strong class="strongo strongo--kras"> номер</strong> на#}
{#             ветку  в БД</a>#}
{#    </div>#}



{% endblock %}