<article class="storie-main">
    <div class=" osnowa">
        <h2 class = "storie-teni storie-teni--em4">
                Вы участник проекта
        </h2>
        <h1 class="storie-teni">  Рег-Те-Ма</h1>

        <h2 class = "storie-teni storie-teni--em4">
           Раса_Линия_Номер
        </h2>

        <h2 class = "storie-teni storie-teni--em4"> 1 -
            <a href="{{ path('proekt.pasekas.rasas.plemmatka') }}" > Проверяем - делаем запрос</a>
        </h2>
        <div class="proekts-plr  ">
            <!-- Stories -->
            <div class="stories">
                <div class="stories__item" data-modal="story-modal">
                    <img class="stories__preview" src="assets/proekt/images/stories/rln1.png" alt="">
{#                    <a href="{{ storage_path(file.info.path ~ '/' ~ file.info.name) }}" target="_blank">{{ file.info.name }}</a>#}
                    <div class="stories__title   stories__title--rln">Пишем запрос ... </div>
                    <time class="stories__date  stories__date--rln" >Шаг 1</time>
                </div>

                <div class="stories__item"  data-modal="story-modal">
                    <img class="stories__preview" src="assets/proekt/images/stories/rln2.png" alt="">
                    <div class="stories__title  stories__title--rln">Выбираем Расу...</div>
                    <time class="stories__date stories__date--rln" >Шаг 2</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/rln3.png" alt="">
                    <div class="stories__title  stories__title--rln">.. Линию-Номер ..</div>
                    <time class="stories__date stories__date--rln" >Шаг 3</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/stories/rln5.png') }}" alt="">
                    {# src="assets/proekt/images/stories/pn4.png"
        #}
                    <div class="stories__title  ">Продолжаем ...</div>
                    <time class="stories__date stories__date--rln" >Шаг 4</time>
                </div>
            </div><!-- /.stories -->
        </div >
        <h2 class = "storie-teni storie-teni--em4"> 2 -
            <a href="{{ path('proekt.mestoo.okrugs') }}" >Продолжить регистрацию ПлемМатки</a>
        </h2>
        <div class="proekts-plr  ">
            <!-- Stories -->
            <div class="stories">
                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/pm1.png" alt="">
                    <div class="stories__title stories__date--rln">Категория - Год - Комментарий ... </div>
                    <time class="stories__date stories__date--rln" >Шаг 1</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/pm3.png" alt="">
                    <div class="stories__title stories__date--rln">Как-то так ...</div>
                    <time class="stories__date stories__date--rln" >Шаг 2</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/m3.png" alt="">
                    <div class="stories__title stories__date--rln">Сохранить в БД</div>
                    <time class="stories__date stories__date--rln" >Шаг 3</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/stories/m4.png') }}" alt="">
                    {# src="assets/proekt/images/stories/pn4.png"
        #}
                    <div class="stories__title stories__date--rln">Продолжить ...</div>
                    <time class="stories__date stories__date--rln" >Шаг 4</time>
                </div>
            </div><!-- /.stories -->
        </div >
        <h2 class = "storie-teni storie-teni--em4"> 3 -
            <a href="{{ path('proekt.pasekas.uchasties.uchastiee') }}" >Группа - Ник</a>
        </h2>
        <div class="proekts-plr  ">
            <!-- Stories -->
            <div class="stories">
                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/uch1.png" alt="">
                    <div class="stories__title">Жмем  подтвердить ... </div>
                    <time class="stories__date" >Шаг 1</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/uch2.png" alt="">
                    <div class="stories__title">Выбираем Группу и Ник</div>
                    <time class="stories__date" >Шаг 2</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/uch3.png" alt="">
                    <div class="stories__title">Ваши данные в БД ..</div>
                    <time class="stories__date" >Шаг 3</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/stories/pn4.png') }}" alt="">
                    {# src="assets/proekt/images/stories/pn4.png"
        #}
                    <div class="stories__title">Продолжить ...</div>
                    <time class="stories__date" >Шаг 4</time>
                </div>
            </div><!-- /.stories -->
        </div >
    </div>
</article>