<article class="storie-main">
    <div class=" osnowa">
        <h2 class = "storie-teni storie-teni--em4">
                Вы участник проекта
        </h2>
        <h1 class="storie-teni">  Рег-Те-Ма</h1>

        <h2 class = "storie-teni storie-teni--em4">
           Раса_Линия_Номер
        </h2>

        <h2 class = "storie-teni storie-teni--em4"> 1 -
            <a href="{{ path('proekt.pasekas.rasas.plemmatka') }}" > Проверяем - делаем запрос</a>
        </h2>
        <div class="proekts-plr  ">
            <!-- Stories -->
            <div class="stories">
                <div class="stories__item" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/rln-m1.png" alt="">
                    <div class="stories__title   stories__title--rln">Смотрим, если  ... </div>
                    <time class="stories__date  stories__date--rln" >Шаг 1</time>
                </div>

                <div class="stories__item"  onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/rln-m2.png" alt="">
                    <div class="stories__title  stories__title--rln">Выбираем Расу...</div>
                    <time class="stories__date stories__date--rln" >Шаг 2</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/rln-m3.png" alt="">
                    <div class="stories__title  stories__title--rln">Обязательная проверка</div>
                    <time class="stories__date stories__date--rln" >Шаг 3</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/plemmatka/rln-m4.png') }}" alt="">
                    <div class="stories__title stories__title--rln ">Начало ...</div>
                    <time class="stories__date stories__date--rln" >Шаг 4</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/plemmatka/rln-m5.png') }}" alt="">
                    <div class="stories__title stories__title--rln ">Как-то так ...</div>
                    <time class="stories__date stories__date--rln" >Шаг 5</time>
                </div>
            </div><!-- /.stories -->
        </div >

        <h2 class = "storie-teni storie-teni--em4">2 - Продолжаем рег-цию ПлемМатки</h2>
        <div class="proekts-plr  ">
            <div class="stories">
                <div class="stories__item" onclick="openModal();currentSlide(6)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/rln-m6.png" alt="">
                    <div class="stories__title stories__date--rln">Категория - Год - Комментарий ... </div>
                    <time class="stories__date stories__date--rln" >Шаг 6</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(7)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/rln-m7.png" alt="">
                    <div class="stories__title stories__date--rln">Всё получилось ...</div>
                    <time class="stories__date stories__date--rln" >Шаг 7</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(8)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/rln-m8.png" alt="">
                    <div class="stories__title stories__date--rln">Заявка на сезон</div>
                    <time class="stories__date " >Шаг 8</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(9)" class="hover-shadow cursor">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/plemmatka/rln-m9.png') }}" alt="">
                    <div class="stories__title ">Редактировать ...</div>
                    <time class="stories__date " >Шаг 9</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(10)" class="hover-shadow cursor">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/plemmatka/rln-m10.png') }}" alt="">
                    <div class="stories__title stories__date--rln">Список ПлемМаток..</div>
                    <time class="stories__date stories__date--rln" >Шаг 10</time>
                </div>
            </div>
    </div >  {#   конец  #}
        {# =============  функционал кнопок #}
 <h2 class = "storie-teni storie-teni--em4">3 - Добавить сезон . Редактировать . Статус.</h2>
        <div class="proekts-plr  ">
            <div class="stories">
                <div class="stories__item" onclick="openModal();currentSlide(11)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/pm-m1.png" alt="">
                    <div class="stories__title stories__date--rln">Список  ПлемМаток</div>
                    <time class="stories__date stories__date--rln" >Шаг 1</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(12)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/pm-m2.png" alt="">
                    <div class="stories__title stories__date--rln">Добавить сезон . Редактировать . Статус</div>
                    <time class="stories__date stories__date--rln" >Шаг 2</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(13)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/pm-m3.png" alt="">
                    <div class="stories__title stories__date--rln">Всё просто ...</div>
                    <time class="stories__date stories__date--rln " >Шаг 3</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(14)" class="hover-shadow cursor">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/plemmatka/pm-m4.png') }}" alt="">
                    <div class="stories__title  stories__date--rln ">Жмём  на кнопку.</div>
                    <time class="stories__date stories__date--rln " >Шаг 4</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(15)" class="hover-shadow cursor">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/plemmatka/pm-m5.png') }}" alt="">
                    <div class="stories__title stories__date--rln">Выбрали - сохранили </div>
                    <time class="stories__date stories__date--rln" >Шаг 5</time>
                </div>
            </div>
        </div >
{#  конец функцинала #}

        <h2 class = "storie-teni storie-teni--em4">4 - ДочьМатки - заявляем</h2>
        <div class="proekts-plr  ">
            <div class="stories">
                <div class="stories__item" onclick="openModal();currentSlide(16)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/cm-m1.png" alt="">
                    <div class="stories__title stories__date--rln">Из списка ПлемМаток. </div>
                    <time class="stories__date stories__date--rln" >Шаг 1</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(17)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/cm-m2.png" alt="">
                    <div class="stories__title stories__date--rln">Выбираем сезон</div>
                    <time class="stories__date stories__date--rln" >Шаг 2</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(18)" class="hover-shadow cursor">
                    <img class="stories__preview" src="assets/proekt/images/plemmatka/cm-m3.png" alt="">
                    <div class="stories__title stories__date--rln">Заполнить - сохранить</div>
                    <time class="stories__date stories__date--rln " >Шаг 3</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(19)" class="hover-shadow cursor">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/plemmatka/cm-m4.png') }}" alt="">
                    <div class="stories__title stories__date--rln ">Результат...</div>
                    <time class="stories__date stories__date--rln " >Шаг 4</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(20)" class="hover-shadow cursor">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/plemmatka/cm-m5.png') }}" alt="">
                    <div class="stories__title stories__date--rln">Список всех дочерних</div>
                    <time class="stories__date stories__date--rln" >Шаг 5</time>
                </div>
            </div>
        </div>
{#    </div >#}


    <div class="proekts-plr  ">
        <div class="stories">

                <div class="stories__item" onclick="openModal();currentSlide(21)" class="hover-shadow cursor">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/plemmatka/cm-m6.png') }}" alt="">
                    <div class="stories__title stories__date--rln ">Из списка ПлемМаток.</div>
                    <time class="stories__date stories__date--rln " >Шаг 6</time>
                </div>

                <div class="stories__item" onclick="openModal();currentSlide(22)" class="hover-shadow cursor">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/plemmatka/cm-m7.png') }}" alt="">
                    <div class="stories__title stories__date--rln">Список сестёр</div>
                    <time class="stories__date stories__date--rln" >Шаг 7</time>
                </div>

            </div>
        </div >
        {# =============  дочьМатки #}

    </div>
</article>
{# ------------------------------------------------------------------------- #}
<div class="proekts-plr  ">

    <div id="myModal" class="my-modal">
    
    <button class="modal__close" type="button">
                <img src="../assets/proekt/images/close.svg" alt="Закрыть">
    </button>

    <div class="my-modal-content">

        <div class="mySlides">  
            <img src="assets/proekt/images/plemmatka/rln--b1.png" style="width:100%">              
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/rln-b2.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/rln-b3.png" style="width:100%">
        </div>
        
        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/rln-b4.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/rln-b5.png" style="width:100%">
        </div>
 
        <div class="mySlides">  
            <img src="assets/proekt/images/plemmatka/rln-b6.png" style="width:100%">              
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/rln-b7.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/rln-b8.png" style="width:100%">
        </div>
        
        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/rln-b9.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/rln-b10.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/pm-b1.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/pm-b2.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/pm-b3.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/pm-b4.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/pm-b5.png" style="width:100%">
        </div>
{#--------------------#}
        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/cm-b1.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/cm-b2.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/cm-b3.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/cm-b4.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/cm-b5.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/cm-b6.png" style="width:100%">
        </div>

        <div class="mySlides">
            <img src="assets/proekt/images/plemmatka/cm-b7.png" style="width:100%">
        </div>
        
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div class="caption-container">
        <p id="caption"></p>
        </div>

    </div>
    </div>
</div>

