<div class="storie-main">
    <div class=" osnowa">
        <h2 class = "storie-teni storie-teni--em4">
                Вы участник проекта
        </h2>
        <h1 class="storie-teni">  Рег - Те - Ма</h1>


        <h2 class = "storie-teni storie-teni--em4"> 1 -
            <a href="{{ path('proekt.personaa.diapazon') }}" >ПерсонНомер</a>
        </h2>
        <div class="proekts-plr  ">
            <!-- Stories -->
            <div class="stories">
                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/pn1.png" alt="">
                    <div class="stories__title">Выбираем  диапазон ... </div>
                    <time class="stories__date" >Шаг 1</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/pn2.png" alt="">
                    <div class="stories__title">... жмите на  цифру</div>
                    <time class="stories__date" >Шаг 2</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/pn3.png" alt="">
                    <div class="stories__title">Сохранить в БД</div>
                    <time class="stories__date" >Шаг 3</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/stories/pn4.png') }}" alt="">
                    {# src="assets/proekt/images/stories/pn4.png"
        #}
                    <div class="stories__title">Продолжить ...</div>
                    <time class="stories__date" >Шаг 4</time>
                </div>
            </div><!-- /.stories -->
        </div >
        <h2 class = "storie-teni storie-teni--em4"> 2 -
            <a href="{{ path('proekt.mestoo.okrugs') }}" >Номер места</a>
        </h2>
        <div class="proekts-plr  ">
            <!-- Stories -->
            <div class="stories">
                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/m1.png" alt="">
                    <div class="stories__title">Выбираем  Округ ... </div>
                    <time class="stories__date" >Шаг 1</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/m2.png" alt="">
                    <div class="stories__title">... отправить запрос..</div>
                    <time class="stories__date" >Шаг 2</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/m3.png" alt="">
                    <div class="stories__title">Сохранить в БД</div>
                    <time class="stories__date" >Шаг 3</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/stories/m4.png') }}" alt="">
                    {# src="assets/proekt/images/stories/pn4.png"
        #}
                    <div class="stories__title">Продолжить ...</div>
                    <time class="stories__date" >Шаг 4</time>
                </div>
            </div><!-- /.stories -->
        </div >
        <h2 class = "storie-teni storie-teni--em4"> 3 -
            <a href="{{ path('proekt.pasekas.uchasties.uchastiee') }}" >Группа - Ник</a>
        </h2>
        <div class="proekts-plr  ">
            <!-- Stories -->
            <div class="stories">
                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/uch1.png" alt="">
                    <div class="stories__title">Жмем  подтвердить ... </div>
                    <time class="stories__date" >Шаг 1</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/uch2.png" alt="">
                    <div class="stories__title">Выбираем Группу и Ник</div>
                    <time class="stories__date" >Шаг 2</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="assets/proekt/images/stories/uch3.png" alt="">
                    <div class="stories__title">Ваши данные в БД ..</div>
                    <time class="stories__date" >Шаг 3</time>
                </div>

                <div class="stories__item">
                    <img class="stories__preview" src="{{ asset('assets/proekt/images/stories/pn4.png') }}" alt="">
                    {# src="assets/proekt/images/stories/pn4.png"
        #}
                    <div class="stories__title">Продолжить ...</div>
                    <time class="stories__date" >Шаг 4</time>
                </div>
            </div><!-- /.stories -->
        </div >
    </div>
</div>