{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}



{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
		<li class="breadcrumb-item"><a href="{{ path('adminka.rasas') }}">Раса </a></li>
		<li class="breadcrumb-item"><a href="{{ path('adminka.rasas') }}">Линия -- {{ linia.name }}</a></li>
		<li class="breadcrumb-item active">Добавить другую лини</li>
	</ol>
{% endblock %}

{% block body %}
<article class="rasa">
	<h4 class="rasa__title  ">Раса : <strong  class="stro--kras" >  {{ linia.title }} </strong>  </h4>
	<div class="linia ">
		<h4 class="rasa__title  ">Линия : <strong  class="stro--kras" >  {{ linia.name }} </strong> </h4>
		<div class="nomer ">
			<h4 class="rasa__title  ">Добавить другой <strong class="stro" > номер </strong> для <strong class="stro" > линии </strong></h4>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btnn btnn--mb0 btnn--pt">Добавить номер</button>
				<a href="{{ path('adminka.rasas.linias.nomers',{'linia_id': linia.id}) }}"
				   class="btnn btnn--mb0 btnn--pt"> Выйти из режима "Добавить"</a>
            </div>
            {{ form_end(form) }}
		
		</div>		
	</div>
</article><!-- rasas -->

{% endblock %}