{% extends 'base.html.twig' %}

{% block title %}Nomer{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('adminka.rasas') }}">Расы </a></li>
           <li class="breadcrumb-item"><a href="{{ path('adminka.rasas.linias.show', {'id':linia.id}) }}">{{ linia.rasa.title }} - все линии</a></li>
        <li class="breadcrumb-item"><a href="{{ path('adminka.rasas.linias.show', {'id':linia.id}) }}">Линии -Ветки {{ linia.name }}</a></li>
        <li class="breadcrumb-item active"> {{ linia.name }} - номера </li>
    </ol>
{% endblock %}


{% block body %}

    {{ include('app/adminka/rasas/_tabs.html.twig') }}

<article class="rasa">
	<h4 class="rasa__title  "><strong class="strongo"> Раса </strong> :   {{ linia.title }}</h4>
	<div class="linia ">
		<h4 class="rasa__title  "><strong class="strongo"> Линия !</strong> :
            <a href="{{ path('adminka.rasas.linias.show', {'id': linia.id}) }}"> {{ linia.name }}
            </a>

        </h4>
		<div class="nomer ">
			<div class="rasa__header  ">
				<h5 class="rasa__title  "><strong class="strongo"> Номера </strong> зарегистрированные в БД на
                    <strong class="stro" >ветке </strong> <strong class="stro--kras" > {{ linia.nameStar }} </strong>
                </h5>
                <div  class="shapka-nomer ">
                    <ul class="rasa__data">

                        <li class="shapka-name  ">Ветка</li>
                        <li class="shapka-name  ">Номер матки</li>
                         <li class="shapka-name  " > Статус </li>
                        <li  > </li>
                        <li class="shapka-name  " > Действие </li>
    {#                    <li class=" rasa__name ma-ri-0 "> </li>#}
                        <li class=" shapka-name ">Ред-ть/удалить</li>

                    </ul>
                </div>
{#----------------------------#}
                {% set token = csrf_token('delete') %}
                {% for nomer in nomers %}
                      
           
                <ul class="rasa__data">
                    <li class="rasa__name rasa__name--wid15 ">{{ nomer.name_star }}</li>
                    <li class="rasa__name rasa__name--wid10 b-color">{{ nomer.name }}</li>

{# ----- #}

                <li class="rasa__name--wid8">
                    <strong class="strongo strongo--kras"> {{ nomer_status(nomer.status) }} </strong>
                </li>
                  {% if nomer.status == "active"  %}
                        
                      <li class="rasa__name--wid8">
                         <form action="{{ path('proekt.pasekas.rasas.linias.nomers.archive',{ linia_id: linia.id, id: nomer.id} ) }}" method="post" onsubmit="return confirm('Вы уверены?')">
                           <input type="hidden" name="token" value="{{ csrf_token('archive') }}" />
                           <button type="submit" class="btnn btnn--pt btnn--mb0">В архив</button>
                         </form>
                      </li>
                        {% if nomer.kolvenka < 1 %}
                            <li class=" rasa__name--wid10 " >
                                <a href="{{ path('adminka.rasas.linias.nomer_linia.create', { 'linia_id': linia.id, 'id': nomer.id}) }}?vetka={{ linia.id }}"
                                class="btnn btnn--mb0  ">объявить <strong class="strongo strongo--kras">ветку</strong>
                                </a>
                            </li>
                        {% else %}
                            <li class="rasa__name rasa__name--wid10 " >
                                <a href="{{ path('adminka.rasas.linias.nomer_linia.vetka', { 'linia_id': linia.id, 'name_star': nomer.name_star}) }}"
                                class="btnn btnn--mb0 btnn--pt btnn--rasa"> <strong class="strongo strongo--kras">на </strong> ветку</strong>
                                </a>
                            </li>
                        {% endif %}
                  {% endif %}

                  {% if nomer.status == "archived" %}
                      <li class="rasa__name--wid8">
                          <form action="{{ path('proekt.pasekas.rasas.linias.nomers.reinstate',{ linia_id: linia.id, id: nomer.id} ) }}" method="post" onsubmit="return confirm('Вы уверены?')">
                            <input type="hidden" name="token" value="{{ csrf_token('reinstate') }}" />
                            <button type="submit" class="btnn btnn--pt btnn--mb0">Из архива</button>
                          </form>
                      </li>
                    {% if nomer.kolvenka < 1 %}
                        <li class=" rasa__name--wid10 " >
                            {# <a href="{{ path('adminka.rasas.linias.nomer_linia.create', { 'linia_id': linia.id, 'id': nomer.id}) }}?vetka={{ linia.id }}"
                               class="btnn btnn--mb0 btnn--pt btnn--rasa">- объявить <strong class="strongo strongo--kras">  ветку</strong>
                            </a> #}
                        </li>
                    {% else %}
                        <li class="rasa__name  " >
                            <a href="{{ path('adminka.rasas.linias.nomer_linia.vetka', { 'linia_id': linia.id, 'name_star': nomer.name_star}) }}"
                               class="btnn btnn--mb0 btnn--pt btnn--rasa"> <strong class="strongo strongo--kras">на </strong> ветку</strong>
                            </a>
                        </li>
                    {% endif %}

                  {% endif %}

                  {% if nomer.status == "ojidaet" %}
                    <li class="rasa__name--wid8">--
                       <a href="{{ path('proekt.pasekas.matkas.plemmatkas.creates.plemmatka',{ id: nomer.id} ) }}">
                          {# class="btnn btnn--pt btnn--mb0 ">  объявить <strong class="strongo strongo--kras">  ветку</strong> #}
                        </a> 
                    </li>
                     <li class=" rasa__name--wid8 " >--
                            {# <a href="{{ path('adminka.rasas.linias.nomer_linia.create', { 'linia_id': linia.id, 'id': nomer.id}) }}?vetka={{ linia.id }}"
                               class="btnn btnn--mb0 btnn--pt btnn--rasa">- объявить <strong class="strongo strongo--kras">  ветку</strong>
                            </a> #}
                        </li>

                  {% endif %}

{# ----- #}

                    {# {% if nomer.kolvenka < 1 %}
                        <li class=" rasa__name--wid10 " >
                            <a href="{{ path('adminka.rasas.linias.nomer_linia.create', { 'linia_id': linia.id, 'id': nomer.id}) }}?vetka={{ linia.id }}"
                               class="btnn btnn--mb0 btnn--pt btnn--rasa">- объявить <strong class="strongo strongo--kras">  ветку</strong>
                            </a>
                        </li>
                    {% else %}
                        <li class="rasa__name rasa__name--wid10 " >
                            <a href="{{ path('adminka.rasas.linias.nomer_linia.vetka', { 'linia_id': linia.id, 'name_star': nomer.name_star}) }}"
                               class="btnn btnn--mb0 btnn--pt btnn--rasa"> <strong class="strongo strongo--kras">на </strong> ветку</strong>
                            </a>
                        </li>
                    {% endif %} #}
                    <li class="  ma-ri-0 ">
                        <a href="{{ path('adminka.rasas.linias.nomers.edit', {'linia_id': linia.id, 'id': nomer.id}) }}"
                            class="btnn btnn--karandash btnn--pt btnn--rasa"><span class="fa fa-pencil"></span>
                        </a>
                    </li>
                    <li class="  ma-le-0">
                        <form action="{{ path('adminka.rasas.linias.nomers.delete', {'linia_id': linia.id, 'id': nomer.id}) }}" method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                            <input type="hidden" name="token" value="{{ token }}" />
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-trash"></span></button>
                        </form>
                    </li>


                </ul>  
                {% endfor %}
            </div>

            <div class = "rasa__content"  >
                <a href="{{ path('adminka.rasas.linias.nomers.create', {'linia_id': linia.id}) }}"
                    class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить другой
                     <strong class="strongo strongo--kras"> номер </strong> в БД</a>
            </div>
	    </div>
    </div>

</article><!-- rasas -->


{% endblock %}