{% extends 'base.html.twig' %}

{% block title %}Создать{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
{#        <li class="breadcrumb-item"><a href="{{ path('rodos.rasas') }}">Раса -- {{ rasa.title }}</a></li>#}
        <li class="breadcrumb-item active">Добавить другую лини</li>
    </ol>
{% endblock %}

{% block body %}
    <h3 class="rasa__title  ">Родословная. Данные   из паспорта купленной матки</h3>
<div class="box">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th  class="fon_td_es" >Раса</th>
                <th  class="fon_td_es" >Страна</th>
                <th  class="fon_td_es" >Матковод(код)</th>
                <th >Линии</th>
                <th class="fon_td_no" > Материнка</th>
                <th class="fon_td_no"> Материнка трутня</th>
                <th class="fon_td_no"> Матка </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="fon_td_es">    {{ rasa }}</td>
                <td title = {{ stran.nomer }}  class="fon_td_es">  {{ stran.name}}  </td>
                <td  class="fon_td_es">    {{ rodo.nameMatkov }} / {{ rodo.kodMatkov }}</td>
                <td  ></td>
                <td colspan="3" class="fon_td_no"></td>
            </tr>
        </tbody>
    </table>
</div>

<article class="rasa">
	<div class="linia ">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btnn btnn--mb0 btnn--pt">Добавить в БД</button>
            <a href="{{ path('drevos.rass.rods.linis',{'id': rodo.id}) }}"
                class="btnn btnn--mb0 btnn--pt"> Выйти из режима "Добавить"</a>
        {{ form_end(form) }}
	</div>
</article>

{% endblock %}