{% extends 'base.html.twig' %}

{% block title %}Линия{% endblock %}


    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Линия</span>
    {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}

    {% set token = csrf_token('delete') %}


    <div class="box">

        <b class="dre_title ">Родословная  - <strongo class="strongo--krox">данные из паспорта </strongo>или личных архивных данных</b>
    </div>
    <div class="box-smotrim">

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th  class="fon_td_es" >Раса</th>
                <th  class="fon_td_es" >Страна</th>
                <th  class="fon_td_es" >Матковод(код)</th>
                <th>Линии</th>
                <th class="fon_td" colspan="2"> редак-ть / удалить</th>
                <th class="fon_td_nado" colspan="2">Материнка - Ветка(к-во)</th>


            </tr>
            </thead>
            <tbody>
            {% for linia in linias %}
                <tr>
                    <td class="fon_td_es">    {{ rasa }}</td>
                    <td title = {{ stran.nomer }}  class="fon_td_es">  {{ stran.name}}  </td>
                    <td  class="fon_td_es">    {{ rodo.nameMatkov }} / {{ rodo.kodMatkov }}</td>
                    <td>   {{ linia.name }}</td>
                    <td class="fon_td"> <a href="{{ path('drevos.rass.rods.linis.edit', {'id': rodo.id, 'linia_id': linia.id}) }}"
                                           class="btnn btnn--mb0 btnn--pt btnn--rasa" ><span class="fa fa-pencil"></span></a>
                    </td>
                    <td class="fon_td">
                        <form action="{{ path('drevos.rass.rods.linis.delete', {'id': rodo.id, 'linia_id': linia.id}) }}"
                              method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                            <input type="hidden" name="token" value="{{ token }}" />
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa "><span class="fa fa-trash"></span></button>
                        </form>
                    </td>
{#                    <td> ( {{ linia.wetkas }} )</td>#}
                    <td>
                        <a  class="btnn btnn--mb0 btnn--pt btnn--rasa" href="{{ path('drevos.rass.rods.linis.wetkas', {'id': linia.id}) }}">
                            Смотреть -  {{ linia.wetkas }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('drevos.rass.rods.linis.wetkas.create', {'id': linia.id}) }}">
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa ">  Продолжить </button>- </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class = "rasa__content"  >
        <a href="{{ path('drevos.rass.rods.linis.create', {'id': rodo.id}) }}"
           class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить другую
            <strong class="strongo strongo--kras"> линию </strong> в БД</a>
    </div>



{% endblock %}