{% extends 'base.html.twig' %}

{% block title %}Линия{% endblock %}


    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Линия</span>
    {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}

    {% set token = csrf_token('delete') %}



{#    <div class="box">#}
{#        <b class="dre_title ">Родословная. Данные   из паспорта купленной матки</b>#}

{#        <table class="table table-bordered table-hover">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th  class="fon_td_es" >Раса</th>#}
{#                    <th  class="fon_td_es" >Страна</th>#}
{#                    <th  class="fon_td_es" >Матковод(код)</th>#}
{#                    <th class="fon_td" >Линии</th>#}
{#                    <th  > Материнка</th>#}
{#                    <th> Материнка трутня</th>#}
{#                    <th> Матка </th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            <tr>#}
{#                <td class="fon_td_es">    {{ rasa }}</td>#}
{#                <td title = {{ stran.nomer }}  class="fon_td_es">  {{ stran.name}}  </td>#}
{#                <td  class="fon_td_es">    {{ rodo.nameMatkov }} / {{ rodo.kodMatkov }}</td>#}
{#                <td class="fon_td" ></td>#}
{#                <td colspan="3" class="fon_td_no"></td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}

    <div class="box">

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th  class="fon_td_es" >Раса</th>
                <th  class="fon_td_es" >Страна</th>
                <th  class="fon_td_es" >Матковод(код)</th>
                <th>Линии</th>
                <th class="fon_td" colspan="2"> редак-ть / удалить</th>
                <th class="fon_td_nado" colspan="3">Материнка - Ветка(к-во)</th>


            </tr>
            </thead>
            <tbody>
            {% for linia in linias %}
                <tr>
                    <td class="fon_td_es">    {{ rasa }}</td>
                    <td title = {{ stran.nomer }}  class="fon_td_es">  {{ stran.name}}  </td>
                    <td  class="fon_td_es">    {{ rodo.nameMatkov }} / {{ rodo.kodMatkov }}</td>
                    <td>   {{ linia.name }}</td>
                    <td class="fon_td"> <a href="{{ path('drevos.rass.rods.linis.edit', {'id': rodo.id, 'linia_id': linia.id}) }}"
                            class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>
                    </td>
                    <td class="fon_td">
                        <form action="{{ path('drevos.rass.rods.linis.delete', {'id': rodo.id, 'linia_id': linia.id}) }}"
                              method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                            <input type="hidden" name="token" value="{{ token }}" />
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa "><span class="fa fa-trash"></span></button>
                        </form>
                    </td>
                    <td> ( {{ linia.wetkas }} )</td>
                    <td>
                        <a href="{{ path('drevos.rass.rods.linis.wetkas', {'id': linia.id}) }}">Смотреть - Материнка (ветка)</a>
                    </td>
                    <td>
                        <a href="{{ path('drevos.rass.rods.linis.wetkas.create', {'id': linia.id}) }}">Продолжить - Материнка (ветка)</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class = "rasa__content"  >
        <a href="{{ path('drevos.rass.rods.linis.create', {'id': rodo.id}) }}"
           class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить другую
            <strong class="strongo strongo--kras"> линию </strong> в БД</a>
    </div>



{% endblock %}