{% extends 'base.html.twig' %}

{% block title %}Линия{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Линия</span>
    {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}

    {% set token = csrf_token('delete') %}

    <div class="box">
        <b class="dre_title  ">Родословная. Смотрим, что получилось</b>
    </div>
    <div class="box-smotrim">
        <table class="table table-bordered table-hover td_cent">
            <thead>
            <tr>
                <th class="fon_td_es" >Раса</th>
                <th class="fon_td_es">Страна</th>
                <th class="fon_td_es" colspan="2">Матковод(код)</th>
                <th  >Линии</th>
                <th class="fon_td"></th>
                <th class="fon_td_nado" > Материнка</th>
                <th class="fon_td_no"> Материнка трутня</th>
                <th class="fon_td_no"> Матка </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="fon_td_es">   {{ rasa.title }}</td>
                <td class="fon_td_es">{{ stran.name }}</td>
                <td class="fon_td_es">{{ rodo.nameMatkov }}</td>
                <td class="fon_td_es">{{ rodo.kodMatkov }}</td>
                <td  >{{ linia.name }}</td>
                <td  class="fon_td" >
                    <a href="{{ path('drevos.rass.rods.linis.edit', {'id': rodo.id, 'linia_id': linia.id}) }}"
                      ><span class="fa fa-pencil"></span></a>
                </td>
                <td  >
                    <a href="{{ path('drevos.rass.rods.linis.wetkas.create', {'id': linia.id}) }}">
                        <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--drev ">  Продолжить </button>
                    </a>
                </td>
                <td colspan="3" class="fon_td_no"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div   >
        <a href="{{ path('drevos.rass.rods.linis.wetkas.create', {'id': linia.id}) }}"
           class="btnn btnn--mb0 btnn--pt btnn--rasa">Продолжить - данные о
            <strong class="strongo strongo--kras"> материнке - ветка </strong> </a>
    </div>

{% endblock %}