{% extends 'base.html.twig' %}

{% block title %}Ветка{% endblock %}


    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}


    {% set token = csrf_token('delete') %}

    <div class="box">

        <b class="dre_title ">Родословная  - <strongo class="strongo--krox">данные из паспорта </strongo>или личных архивных данных</b>
    </div>
    <div class="box-smotrim">


    <table class="table table-bordered table-hover">
        <thead>
        <tr class="td_cent">
            <th  class="fon_td_es" >Раса</th>
            <th  class="fon_td_es" >Страна</th>
            <th  class="fon_td_es" >Матковод</th>
            <th class="fon_td_es" >Линии</th>
            <th class="fon_td_es">Материнка</th>
            <th  >Материнка трут</th>

            <th class="fon_td" colspan="2">редак/удалить</th>

            <th class="fon_td_nado"  colspan="2" >Номер матки / Заказал</th>

            </tr>
            </thead>
            <tbody>
            {% for mattrut in mattruts %}
                <tr>
                    <td class="fon_td_es">    {{ rasa }}</td>
                    <td title ={{ stran.name}}   class="fon_td_es">{{ stran.nomer }}    </td>
                    <td  class="fon_td_es">    {{ rodo.nameMatkov }} / {{ rodo.kodMatkov }}</td>
                    <td class="fon_td_es" >{{ linia.name }}</td>
                    <td class="fon_td_es"> {{ wetka.nameW }}-{{ nomwet.titW }}</td>
                    <td>{{ mattrut.name_ot }}</td>

                    <td class="fon_td"> <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.mattruts.edit', {'id': nomwet.id, 'mattrut_id': mattrut.id}) }}"
                           ><span class="fa fa-pencil"></span></a>
                    </td>
                    <td class="fon_td" >
                        <form action="{{ path('drevos.rass.rods.linis.wetkas.nomwets.mattruts.delete', {'id': nomwet.id, 'mattrut_id': mattrut.id}) }}"
                              method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                            <input type="hidden" name="token" value="{{ token }}" />
                           <span class="fa fa-trash"></span></button>
                        </form>
                    </td>
                    <td class="td_cent">
                        <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.mattruts.noms', {'id': mattrut.id}) }}">
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--drev ">  Смотреть - {{ mattrut.nomers}} </button>
                        </a>
                    </td>
                    <td class="td_cent">
                        <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.mattruts.noms.create', {'id': mattrut.id}) }}">
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--drev ">  Продолжить </button>-
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class = "rasa__content"  >
        <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.mattruts.create', {'id': nomwet.id}) }}"
           class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить еще<strong class="strongo strongo--kras"> номер</strong> на
             ветку  в БД</a>
    </div>



{% endblock %}