{% extends 'base.html.twig' %}

{% block title %}Раса{% endblock %}

  {% block kroxii %}
      <a href="{{ path('home') }}">Главная</a>
      <a href="{{ path('drevos.rass') }}">Родословная</a>
      <span class="aktiv ">Список</span>
  {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}


    <div class="box">

        <table class="table table-bordered table-hover">
            <thead>
            <tr  class="fon_td_es">
                <th  >Раса</th>
                <th >Страна</th>
                <th  colspan="2">Матковод(код)</th>
                <th  >Линии</th>
                <th  colspan="2"> Материнка</th>

                <th  > Материнка трутня</th>
                <th  > Матка </th>
                <th  > заказал </th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for nom in noms %}
                <tr>
                    <td>{{ nom.rasa }}</td>
                    <td>{{ nom.strana }}</td>
                    <td>{{ nom.name_m }}</td>
                    <td>{{ nom.kod_m }}</td>
                    <td>{{ nom.name }}</td>
                    <td>{{ nom.name_w }}</td>
                    <td>{{ nom.tit_w }}</td>

                    <td class="ot-lin ">{{nom.name_ot }}</td>
                    <td class="ot-lin ">{{nom.tit }}</td>
                    <td class="ot-lin ">{{nom.nike }}</td>
                    <td > {{ nom_status(nom.status) }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}