{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Матки</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas') }}">Матка</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas.rasa.show', {'id': rasa.id}) }}">{{ rasa.name }}</a></li>
        <li class="breadcrumb-item active">Настройки!!!!!!!</li>
    </ol>
{% endblock %}

{% block body %}

    {% include 'app/paseka/rasas/rasa/_tabs.html.twig' %}

     {% include 'app/paseka/rasas/rasa/settings/_tabs.html.twig' %}

    <div class="controls">
        <a href="{{ path('paseka.rasas.rasa.settings.edit', {'rasa_id': rasa.id}) }}" class="btn btn-primary">Редактировать</a>
        {# {% if rasa.active and rasa.id.value != app.user.id %}
            <form action="{{ path('paseka.rasas.rasa.settings.archive', {'rasa_id': rasa.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="token" value="{{ csrf_token('archive') }}" />
                <button type="submit" class="btn btn-danger">Archive</button>
            </form>
        {% endif %}
        {% if rasa.archived %}
            <form action="{{ path('paseka.rasas.rasa.settings.reinstate', {'rasa_id': rasa.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="token" value="{{ csrf_token('reinstate') }}" />
                <button type="submit" class="btn btn-success">Reinstate</button>
            </form>
        {% endif %}  #}
        <form action="{{ path('paseka.rasas.rasa.settings.delete', {'rasa_id': rasa.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
         <a href="{{ path('paseka.rasas.rasa.settings.linias', {'rasa_id': rasa.id}) }}" class="btn btn-primary">Departments---------Linia</a>
    </div>

    <div class="box">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ rasa.name }}</td>
                </tr>
                <tr>
                    {# <th>Status</th>
                    <td>{{ project_status(project.status.name) }}</td> #}
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}