{% extends 'base.html.twig' %}

{% block title %}{{ rasa.name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Пасека</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas') }}">Раса</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas.rasa.show', {'id': rasa.id}) }}">{{ rasa.name }}</a></li>
        <li class="breadcrumb-item active">Редактировать</li>
    </ol>
{% endblock %}

{% block body %}

    {% include 'app/paseka/rasas/rasa/_tabs-r.html.twig' %}

    {% include 'app/paseka/rasas/rasa/settings/_tabs-s.html.twig' %} 

    <div class="controls">
        
        {# {% if rasa.active and rasa.id.value != app.user.id %}
            <form action="{{ path('paseka.rasas.rasa.settings.archive', {'rasa_id': rasa.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="token" value="{{ csrf_token('archive') }}" />
                <button type="submit" class="btn btn-danger">Archive</button>
            </form>
        {% endif %}
        {% if rasa.archived %}
            <form action="{{ path('paseka.rasas.rasa.settings.reinstate', {'rasa_id': rasa.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="token" value="{{ csrf_token('reinstate') }}" />
                <button type="submit" class="btn btn-success">Reinstate</button>
            </form>
        {% endif %}  #}
   
         <a href="{{ path('paseka.rasas.rasa.settings.linias', {'rasa_id': rasa.id}) }}" class="btn btn-primary">Смотреть Линии</a>
    </div>

    <div class="box">
        <table class="table table-bordered">
            <tbody>
                <tr>
                     <th>{{ rasa.sort }}</th>
                     <td>{{ rasa.psewdo }}</td>
                    <th>{{ rasa.name }}</th>
                    <th>
                        <a href="{{ path('paseka.rasas.rasa.settings.edit', {'rasa_id': rasa.id}) }}" class="btn btn-primary">Редактировать</a>
                    </th>
                    <th>
                        <form action="{{ path('paseka.rasas.rasa.settings.delete', {'rasa_id': rasa.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </th>
    
                </tr>
                <tr>
                    {# <th>Status</th>
                    <td>{{ project_status(project.status.name) }}</td> #}
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}