{% extends 'base.html.twig' %}

{% block title %}Создать{% endblock %}


    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}

    <div class="box">
        <b class="dre_title "><strongo class="strongo--krox">Материнка - ветка..</strongo> - данные из паспорта или личных архивных данных</b>
    </div>

    <div class="box-smotrim">

        <table class="table table-bordered table-hover">
            <thead>
            <tr class="td_cent">
                <th  class="fon_td_es" >Раса</th>
                <th  class="fon_td_es" >Страна</th>
                <th  class="fon_td_es" >Матковод(код)</th>
                <th class="fon_td_es" >Линии</th>
                <th colspan="3" > Материнка</th>
                <th class="fon_td_no"  > Материнка трутня</th>
                <th class="fon_td_no" > Матка </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="fon_td_es">    {{ rasa }}</td>
                <td title = {{ stran.nomer }}  class="fon_td_es">  {{ stran.name}}  </td>
                <td  class="fon_td_es">    {{ rodo.nameMatkov }} / {{ rodo.kodMatkov }}</td>
                <td class="fon_td_es" >{{ linia.name }}</td>
                <td class="td_cent  ">ветка</td>
                <td > </td>
                <td class="fon_td_no td_cent " >номер</td>
                <td colspan="2" class="fon_td_no"></td>
            </tr>
            {% for wetka in wetkas %}
                <tr>
                    <td  colspan="4" > </td>

                    <td class="td_cent fon_td_es ">
                        <strongo class="strongo--kras"> {{ wetka.nameW }}</strongo>
                    </td>
                    <td class="td_cent">
                        <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.create', {'id': wetka.id}) }}">
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--drev-es ">  Выбрать </button>
                        </a>
                    </td>

                    <td colspan="4" ></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if wetkas is not empty %}
            <b ><strongo class="strongo--kras">Информация! </strongo> - если будет повтор названия т.е. данные есть
                в БД (см выше), то можно воспльзовться кнопкой "Выбрать" </b> </br>
            <b > Если повтора <strongo class="strongo--kras">не</strongo> будет- переходите к  вводу данных (см ниже)</b>
        {% endif %}
    </div>

    <div class="box-edit">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--drev-es">Добавить в БД</button>
            <a href="{{ path('drevos.rass.rods.linis.wetkas',{'id': linia.id}) }}"
                class="btnn btnn--ml3 btnn--pt btnn--drev-es"> Выйти из режима "Добавить"</a>
        {{ form_end(form) }}
	</div>


{% endblock %}