{% extends 'base.html.twig' %}

{% block title %}ветка{% endblock %}

    {% block kroxii %}
		<a href="{{ path('home') }}">Главная</a>
		<a href="{{ path('drevos.rass') }}">Родословная</a>
		<span class="aktiv ">Расы</span>
	{% endblock %}

{% block body %}

	{{ include('app/drevos/_tabs.html.twig') }}

<article class="rasa">

	<div class="linia ">
{#		<h1 class="rasa__title  ">Редактировать <strong>линию</strong> : {{ linia.name }} </h1>#}

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-my btn-my--sm">Добавить измения в БД</button>
            {{ form_end(form) }}
	</div>
</article>

{% endblock %}