{% extends 'base.html.twig' %}

{% block title %}Ветка{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Ветки</span>
    {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}

    {% set token = csrf_token('delete') %}

    <div class="box">

        <b class="dre_title ">Родословная  - <strongo class="strongo--krox">данные из паспорта </strongo>или личных архивных данных</b>
    </div>
    <div class="box-smotrim">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="td_cent">
                <th  class="fon_td_es" >Раса</th>
                <th  class="fon_td_es" >Страна</th>
                <th  class="fon_td_es" >Матковод(код)</th>
                <th class="fon_td_es" >Линии</th>
                <th colspan="2">Материнка - ветка</th>
                <th class="fon_td td_cent" colspan="2"> редак-ть / удалить</th>
                <th class="fon_td_nado td_cent" colspan="2">Материнка - номер (к-во)</th>
            </tr>
            </thead>
            <tbody>
            {% for wetka in wetkas %}
                <tr>
                    <td class="fon_td_es">    {{ rasa }}</td>
                    <td title = {{ stran.nomer }}  class="fon_td_es">  {{ stran.name}}  </td>
                    <td  class="fon_td_es">    {{ rodo.nameMatkov }} / {{ rodo.kodMatkov }}</td>
                    <td class="fon_td_es" >{{ linia.name }}</td>
                    <td> {{ wetka.name_w }}</td>
                    <td class="fon_td_no"> </td>
                    <td class="fon_td td_cent"> <a href="{{ path('drevos.rass.rods.linis.wetkas.edit', {'id': linia.id, 'wetka_id': wetka.id}) }}"
                           ><span class="fa fa-pencil"></span></a>
                    </td>
                    <td class="fon_td td_cent">
                        <form action="{{ path('drevos.rass.rods.linis.wetkas.delete', {'id': linia.id, 'wetka_id': wetka.id}) }}"
                              method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                            <input type="hidden" name="token" value="{{ token }}" />
                           <span class="fa fa-trash"></span></button>
                        </form>
                    </td>
{#                   <td>{{ wetka.nomwets }}</td>#}
                    <td class="td_cent">
                        <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets', {'id': wetka.id}) }}">
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--drev ">  Смотреть - {{ wetka.nomwets }} </button>
                        </a>
                    </td>
                    <td class="td_cent">
                        <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.create', {'id': wetka.id}) }}">
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--drev ">  Продолжить </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class = "rasa__content"  >
        <a href="{{ path('drevos.rass.rods.linis.wetkas.create', {'id': linia.id}) }}"
           class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить другую
            <strong class="strongo strongo--kras"> ветку </strong> в БД</a>
    </div>



{% endblock %}