{% extends 'base.html.twig' %}

{% block title %}Линия{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}


    {% set token = csrf_token('delete') %}
    <h3 class="rasa__title  ">Родословная. Данные   из паспорта купленной матки</h3>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="fon_td_es" >Раса</th>
                <th class="fon_td_es">Страна</th>
                <th class="fon_td_es" colspan="2">Матковод(код)</th>
                <th class="fon_td_es" >Линии</th>
                <th  colspan="2"> Материнка</th>
                <th class="fon_td"></th>
                <th class="fon_td_no"> Материнка трутня</th>
                <th class="fon_td_no"> Матка </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="fon_td_es">   {{ rasa.title }}</td>
                <td class="fon_td_es">{{ stran.name }}</td>
                <td class="fon_td_es">{{ rodo.nameMatkov }}</td>
                <td class="fon_td_es">{{ rodo.kodMatkov }}</td>
                <td class="fon_td_es" >{{ linia.name }}</td>
                <td  >{{ wetka.nameW }}</td>
                <td class="fon_td_no" ></td>
                <td class="fon_td">
                    <a href="{{ path('drevos.rass.rods.linis.wetkas.edit', {'id': linia.id, 'wetka_id': wetka.id}) }}"
                       class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>
                </td>
                <td colspan="2" class="fon_td_no"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div   >
        <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.create', {'id': wetka.id}) }}"
           class="btnn btnn--mb0 btnn--pt btnn--rasa">Продолжить - данные о
            <strong class="strongo strongo--kras"> материнке - номер </strong> </a>
    </div>

{% endblock %}