{% extends 'probase.html.twig' %}

{% block title %}Создать участника{% endblock %}

{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}
{% endblock %}

{% block kroxii %}
    {# <a href="{{ path('sait') }}">Главная</a>
    <a href="{{ path('sait.uchastiess.uchasties') }}">Участники</a> #}

    <span class="aktiv">Стать участником</span>

{% endblock %}

{% block bodyy %}

    <div class="proekts proekts--uhastiee">

    {% include('app/proekts/pasekas/uchasties/uchastiee/_uchastie-includ.html.twig') %}
        <div class="uchastiee__header  ">    
            <div class="uchastiee-form "> 
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btnn btnn--mt btnn--pt">Стать участником</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}