{% extends 'base.html.twig' %}

{% block title %}Раса{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item active">Расы зарегистрированные</li>
    </ol>
{% endblock %}    

{% block body %}

    {{ include('app/adminka/rasas/_tabs.html.twig') }}

<article class="rasa">
	
      <div class="rasa__header  ">
         <h3 class="rasa__title  ">Расы зарегистрированные в БД </h3>

          {% set token = csrf_token('delete') %}
                {% for rasa in rasas %}
                      
           
                <ul class="rasa__data">
                    <li class="rasa__name rasa__name--wid15 ">  {{ rasa.title }}  </li>
                    <li class="rasa__name  ">{{ rasa.name }} ( {{ rasa.linias }} ) </li>
                    <li class=" rasa__name--wid15">
                        <a href="{{ path('adminka.rasas.linias',{'id': rasa.id}) }}"
                           class="btnn btnn--mb0 btnn--pt btnn--rasa">См/Добавить
                            <strong class="strongo strongo--kras"> линии </strong>
                        </a>
                    </li>
                    <li class=" rasa__name--wid5 ">
                        <a href="{{ path('adminka.rasas.edit', {'id': rasa.id}) }}"
                            class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>
                    </li>
                    <li class="rasa__name--wid5">
                        <form action="{{ path('adminka.rasas.delete', {'id': rasa.id}) }}"
                              method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                            <input type="hidden" name="token" value="{{ token }}" />
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa "><span class="fa fa-trash"></span></button>
                        </form>
                    </li>


                </ul>  
         {% endfor %}                
    </div>

    <div class = "rasa__content"  >
        <a href="{{ path('adminka.rasas.create') }}"
            class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить название другой <strong class=" strongo--kras"> расы </strong>  в БД</a>
    </div>
    </article><!-- rasas -->

{% endblock %}