{% extends 'base.html.twig' %}

{% block title %}Линия{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}

    {% set token = csrf_token('delete') %}

    <div class="box">
        <b class="dre_title  ">Родословная. Смотрим, что получилось</b>
    </div>
    <div class="box-smotrim">
        <table class="table table-bordered table-hover ">
            <thead>
            <tr class="td_cent ">
                <th class="fon_td_es" >Раса</th>
                <th class="fon_td_es">Страна</th>
                <th class="fon_td_es" colspan="2">Матковод(код)</th>
                <th class="fon_td_es" >Линии</th>
                <th class="fon_td_es" colspan="2"> Материнка</th>

                <th class="fon_td_es" > Материнка трутня</th>
                <th > Матка </th>
                <th > Заказал </th>
                <th class="fon_td"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="fon_td_es">   {{ rasa.title }}</td>
                <td class="fon_td_es">{{ stran.name }}</td>
                <td class="fon_td_es">{{ rodo.nameMatkov }}</td>
                <td class="fon_td_es">{{ rodo.kodMatkov }}</td>
                <td class="fon_td_es" >{{ linia.name }}</td>
                <td class="fon_td_es" >{{ wetka.nameW }}</td>
                <td class="fon_td_es" >{{ nomwet.titW }}</td>
                <td class="fon_td_es" >{{ mattrut.nameOt }}</td>
                <td>{{ nom.tit }}</td>
                <td>{{ nom.zakazal.nike }}</td>
                <td class="fon_td">
                    <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.mattruts.noms.edit', {'id': mattrut.id, 'nom_id': nom.id}) }}"
                       ><span class="fa fa-pencil"></span></a>
                </td>
                
            </tr>
            </tbody>
        </table>
    </div>

    <div   >
        <a href="{{ path('drevos.rodos') }}"
           class="btnn btnn--mb0 btnn--pt btnn--rasa">Смотреть все
            <strong class="strongo strongo--kras"> родословные </strong> </a>
    </div>

{% endblock %}