{% extends 'proekt/base.html.twig' %}

{% block title %}ПлемМатка{% endblock %}

{% block sidebar %}              
    {% include('proekt/pasekas/matkas/side/_sidefiltr.html.twig') %}
{% endblock %}
    {% block kroxii %}
        <a href="{{ path('proekt') }}">Главная</a>
        <a href="{{ path('proekt.pasekas.matkas.plemmatkas.creates') }}">Рег-ция ПлемМатки</a>
        <span class="aktiv ">Список ПлемМаток</span> 
    {% endblock %}

{% block bodyy %}

    {# <div class="controls">
        <a href="{{ path('paseka.matkas.plemmatka') }}" class="btn btn-success">Добавить Племенную матку</a>
    </div> #}

<div  class="  proekts-plem">

    <div class="inklud">

        <div class="inklud__img  inklud__img--plem">
            <img class="" src="{{ asset('assets/proekt/images/matkas/matkiM.png') }}" alt="">           
        </div>

        <div class="inklud__title inklud__title--plem teni">
           Список зарегистрированных  ПлемМаток !!! &nbsp; &nbsp;
           <a href="{{ path('proekt.pasekas.matkas.plemmatkas.creates'  ) }}"
               class="btnn btnn--mb0 btnn--plus" title="Добавить ПлемМатку"> 
               <strong class="strongo strongo--sizee">+</strong>  
            </a>
        </div> 
    </div>
        {# ------------------------- #}
    <div class="proekts-plr  "> 
        <div class = "plem_break_no" >    
                <ul class = "plem__data plem__data--col">
                    <li></li>
                    <li class = "plem__name plem__name--wid34 plem__name-list--wid" >
                    ПлемМатка (по ссылке -расшифровка)
                    </li> 
                   
                        <li class = "plem__name">Кат-рия</li>
                        <li class = "plem__name">Сезоны/дочки</li>
                        <li class = "plem__name">Сезон</li>
                  
                    <li class = "plem__name"> Дочь</li>
                    <li class = "plem__name"> Статус</li>
                </ul>
                {% for plemmatka in pagination %}

                <ul class = "plem__data">
                    <li><strong class="strongo strongo--kras">{{ plemmatka.sort }}  </strong></li>
                    <li class = "plem__name-list plem__name-list--wid plem-ramka mb0" >
                        <a class="" href="{{ path('proekt.pasekas.matkas.plemmatkas.show', {'plemmatka_id': plemmatka.id}) }}"  title = "Расшифровка названия" >
                             {{ plemmatka.name }}
                        </a>
                    </li>


                        <li class = "plem__name-list">  {{ plemmatka_kategoria(plemmatka.kategoria) }} </li>
                        <li class = "plem__name-list">

                            <a class="" href="{{ path('proekt.pasekas.matkas.plemmatkas.childmatka', {'plemmatka_id': plemmatka.id}) }}"  title = "Список дочерних от этой маточки" >
                                {{ plemmatka.departments_count }} /  {{ plemmatka.child_count }}
                            </a>
                        </li>
                                   

                    <li class = "plem__name-list">
                        <a   href="{{ path('proekt.pasekas.matkas.plemmatkas.redaktorss.show', {'plemmatka_id': plemmatka.id}) }}"  class="btnn btnn--mb1 "
                             title = "Редактировать, архивировать, добавить новый сезон" >
                            <div class="karandash">
                                <img src="{{ asset('assets/proekt/images/sezon/sezon4.png') }}" alt="">
                            </div>
                        </a>
                    </li>
                    <li class = "plem__name-list">
                        <a   href="{{ path('proekt.pasekas.matkas.plemmatkas.childmatka.show', {'plemmatka_id': plemmatka.id}) }}"  class="btnn btnn--mb1 "
                             title = "Добавить ДочьМаток от этой маточки" >
                            <div class="karandash">
                                <img src="{{ asset('assets/proekt/images/matkas/matki_.png') }}" alt="матка">
                            </div>
                        </a>
                    </li>
                    <li class = "plem__name-list">{{  plemmatka_status(plemmatka.status) }}</li>
                </ul>

                {% endfor %}
        </div> 

            <div class = "plem_break" >    
                <ul class = "plem__data plem__data--col">
                   
                    <li class = "plem__name plem__name--wid34 plem__name-list--wid" >
                        ПлемМатка (ссылка-расшифровка)
                    </li> 
                    <li class = "plem__name">Сезон</li>
                  
                    <li class = "plem__name"> Дочь</li>
                </ul>
                {% for plemmatka in pagination %}

                <ul class = "plem__data">
                    <li><strong class="strongo strongo--kras">{{ plemmatka.sort }}  </strong></li>
                    <li class = "plem__name-list plem__name-list--wid plem-ramka mb0" >
                        <a class="" href="{{ path('proekt.pasekas.matkas.plemmatkas.show', {'plemmatka_id': plemmatka.id}) }}"  title = "Расшифровка названия" >
                             {{ plemmatka.name }}
                        </a>
                    </li>
                    <li class = "plem__name-list">
                        <a   href="{{ path('proekt.pasekas.matkas.plemmatkas.redaktorss.show', {'plemmatka_id': plemmatka.id}) }}"  class="btnn btnn--mb1 "
                             title = "Редактировать, архивировать, добавить новый сезон" >
                            <div class="karandash">
                                <img src="{{ asset('assets/proekt/images/sezon/sezon4.png') }}" alt="">
                            </div>
                        </a>
                    </li>
                    <li class = "plem__name-list">
                        <a   href="{{ path('proekt.pasekas.matkas.plemmatkas.childmatka.show', {'plemmatka_id': plemmatka.id}) }}"  class="btnn btnn--mb1 "
                             title = "Добавить ДочьМаток от этой маточки" >
                            <div class="karandash">
                                <img src="{{ asset('assets/proekt/images/matkas/matki_.png') }}" alt="матка">
                            </div>
                        </a>
                    </li>
                </ul>

                {% endfor %}
        </div> 

        <ul class="plem__data plem__data--mt2">
            <li>
                <a href="{{ path('proekt.pasekas.matkas.plemmatkas.creates') }}"
                   class="btnn btnn--mb0 btnn--col"> Регистрация  <strong class="strongo strongo--kras">ПлемМатки  </strong>
                </a>
            </li>
            <li>
                <a href="{{ path('proekt.pasekas.childmatkas'  ) }}"  class="btnn btnn--mb0 btnn--col">
                 Список   <strong class="strongo strongo--kras">ДочьМаток (ТестМаток) </strong>
                </a>
            </li>
        </ul>
       

    </div>
</div>

 {# <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>  #}

{% endblock %}