<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/proekt/scss/proekt.css') }}">
 {% endblock %} 
<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">

<title>Привер Проект</title>
</head>
<body>

<div class="pagee">
  
    {% block header %}
        {{ include('proekt/base/_header.html.twig') }}
    {% endblock %}

    {% block sidebar %}
        {{ include('proekt/base/_sidebar.html.twig') }}
    {% endblock %}

    <!-- Main -->
    <main class="mainn">

        <div class="kroxii kroxii-gradien ">
            <div class="kroxii-xl">
              {% block kroxii %} {% endblock %}
            </div>
        </div>

        {# <div class="containerr"> #}
        {% include '_flashes-pr.html.twig' %}
{% block bodyy %}
{#    <div class=" osnowa">#}
    <h2 class = "storie-teni storie-teni--em4"> Стать участником проекта</h2>
        <h1 class="storie-teni">  Рег - Те - Ма</h1>
{#    </div>#}

    <h2 class = "storie-teni storie-teni--em4"> 1 - ПерсонНомер</h2>
        <div class="proekts-plr  ">
        <!-- Stories -->
        <div class="stories">
            <div class="stories__item">
                <img class="stories__preview" src="assets/proekt/images/stories/pn1.png" alt="">
                <div class="stories__title">Выбираем  диапазон ... </div>
                <time class="stories__date" >Шаг 1</time>
            </div>
        
            <div class="stories__item">
                <img class="stories__preview" src="assets/proekt/images/stories/pn2.png" alt="">
                <div class="stories__title">... жмите на  цифру</div>
                <time class="stories__date" >Шаг 2</time>
            </div>
        
            <div class="stories__item">
                <img class="stories__preview" src="assets/proekt/images/stories/pn3.png" alt="">
                <div class="stories__title">Сохранить в БД</div>
                <time class="stories__date" >Шаг 3</time>
            </div>
        
            <div class="stories__item">
                <img class="stories__preview" src="{{ asset('assets/proekt/images/stories/pn4.png') }}" alt="">
                {# src="assets/proekt/images/stories/pn4.png"
 #}
                <div class="stories__title">Продолжить ...</div>
                <time class="stories__date" >Шаг 4</time>
            </div>
        </div><!-- /.stories -->
    </div >
    <h2 class = "storie-teni storie-teni--em4"> 2 - Номер места</h2>
        <div class="proekts-plr  ">
        <!-- Stories -->
        <div class="stories">
            <div class="stories__item">
                <img class="stories__preview" src="assets/proekt/images/stories/m1.png" alt="">
                <div class="stories__title">Выбираем  Округ ... </div>
                <time class="stories__date" >Шаг 1</time>
            </div>

            <div class="stories__item">
                <img class="stories__preview" src="assets/proekt/images/stories/m2.png" alt="">
                <div class="stories__title">... отправить запрос..</div>
                <time class="stories__date" >Шаг 2</time>
            </div>

            <div class="stories__item">
                <img class="stories__preview" src="assets/proekt/images/stories/m3.png" alt="">
                <div class="stories__title">Сохранить в БД</div>
                <time class="stories__date" >Шаг 3</time>
            </div>

            <div class="stories__item">
                <img class="stories__preview" src="{{ asset('assets/proekt/images/stories/m4.png') }}" alt="">
                {# src="assets/proekt/images/stories/pn4.png"
 #}
                <div class="stories__title">Продолжить ...</div>
                <time class="stories__date" >Шаг 4</time>
            </div>
        </div><!-- /.stories -->
    </div >
    <h2 class = "storie-teni storie-teni--em4"> 3 - Группа - Ник</h2>
        <div class="proekts-plr  ">
        <!-- Stories -->
        <div class="stories">
            <div class="stories__item">
                <img class="stories__preview" src="assets/proekt/images/stories/uch1.png" alt="">
                <div class="stories__title">Жмем  подтвердить ... </div>
                <time class="stories__date" >Шаг 1</time>
            </div>

            <div class="stories__item">
                <img class="stories__preview" src="assets/proekt/images/stories/uch2.png" alt="">
                <div class="stories__title">Выбираем Группу и Ник</div>
                <time class="stories__date" >Шаг 2</time>
            </div>

            <div class="stories__item">
                <img class="stories__preview" src="assets/proekt/images/stories/uch3.png" alt="">
                <div class="stories__title">Ваши данные в БД ..</div>
                <time class="stories__date" >Шаг 3</time>
            </div>

            <div class="stories__item">
                <img class="stories__preview" src="{{ asset('assets/proekt/images/stories/pn4.png') }}" alt="">
                {# src="assets/proekt/images/stories/pn4.png"
 #}
                <div class="stories__title">Продолжить ...</div>
                <time class="stories__date" >Шаг 4</time>
            </div>
        </div><!-- /.stories -->
    </div >
 {% endblock %}
        {# </div> #}
    </main>
</div>


<!-- JS -->
<script src="assets/proekt/js/proekt.js"></script>
</body>
</html>

