{% extends 'base.html.twig' %}

{% block title %}{{ plemmatka.name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('adminka') }}">Админка</a></li>
        <li class="breadcrumb-item"><a href="{{ path('adminka.matkas') }}">ПлемМатки</a></li>
        <li class="breadcrumb-item active">{{ plemmatka.name }}</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/adminka/matkas/plemmatka/_tabs.html.twig') }}

    <article class="matka matka--bac-col" >
        <div class="matka__header">
            <div style="overflow: auto">
                <table class="table table-bordered table-hover mb-0 ">
                    <thead>
                    <tr >
                        <th style="text-align: center; color: white" >Автор</th>
                        <th style="text-align: center; color: white" >Роль</th>
                        <th style="text-align: center; color: white">
                            ПлемМатка
                        </th>
                        <th style="text-align: center; color: white" >Сезоны  вывода ДочьМаток </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for uchastnik in uchastniks %}
                        {% for department in uchastnik.departments %}
                            <tr class="matka__kateg" >
                                <td >{{ uchastnik.uchastie.nike }}  ( {{ uchastnik.uchastie.name.full }} ) </td>
                                <td  >
                                    {% for role in uchastnik.roles %}
                                        {{ role.name }}
                                    {% endfor %}
                                </td>
                                <td >
                                    {{ plemmatka.name }}
                                </td>
                                <td style="text-align: center; color: white">



                                    {% if plemmatka %}
                                        <div class="controls">
                                            <a href="{{ path('adminka.matkas.plemmatka.childmatkas.create', {'plemmatka_id' : plemmatka.id, 'department_id' : department.id} ) }}"
                                               class="btnn btnn--mb0 btnn--pt   "><span class="fa fa-check"></span>   {{ department.name }} -- добавить ДочьМатку
                                            </a>
                                        </div>
                                    {% endif %}
                                </td>



                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </article>
{% endblock %}

