{% extends 'base.html.twig' %}

{% block title %}{{ plemmatka.name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('adminka') }}">Админка</a></li>
        <li class="breadcrumb-item"><a href="{{ path('adminka.matkas') }}">ПлемМатки</a></li>
        <li class="breadcrumb-item active">{{ plemmatka.name }}</li>
    </ol>
{% endblock %}

{% block body %}


    {{ include('app/adminka/matkas/plemmatka/_tabs.html.twig') }}

    <article class="matka matka--bac-col" >
        <div class="matka__header">
            <div style="overflow: auto">
                <table class="table table-bordered table-hover mb-0 ">
                    <tbody>
                    <tr >
                        <th style=" color: white">ПлемМатка </th>
                        <td >{{ plemmatka.name }} </td>
                    </tr >
                    {#                </thead>#}

                    {#            </table>#}
                    {#            <table class="table table-bordered table-hover mb-0 ">#}

                    {#                <tbody>#}

                    {% for uchastnik in uchastniks %}

                        <tr  >
                            <th style=" color: white" >Автор</th>
                            <td >{{ uchastnik.uchastie.nike }}  ( {{ uchastnik.uchastie.name.full }} ) </td>
                        </tr>
                        <tr  >
                            <th style=" color: white" >Роль</th>
                            <td  >
                                {% for role in uchastnik.roles %}
                                    {{ role.name }}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr  >
                            <th style=" color: white" >Сезоны  ПлемМатки </th>
                            <td >
                                <table class="table  table-hover  ">
                                    <tbody>
                                    {% for department in uchastnik.departments %}

                                        {% if plemmatka %}
                                            <tr  >
                                                <th> {{ department.name }} --</th>
                                                <td>
                                                    <a href="{{ path('adminka.matkas.plemmatka.childmatkas.create', {'plemmatka_id' : plemmatka.id, 'department_id' : department.id} ) }}"
                                                    >   добавить ДочьМатку
                                                    </a>
                                                </td>
                                            </tr  >
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </article>
{% endblock %}

