{% extends 'probase.html.twig' %}

{% block title %}Родословная{% endblock %}

{% block menupro %}
    {{ include('app/proekts/drevorods/_tabs.html.twig') }}
{% endblock %}

{% block kroxii %}
    <a href="{{ path('home') }}">Главная</a>
{#    <a href="{{ path('drevos.rass') }}">Родословная</a>#}
{#    <a href="{{ path('drevos.rass', {'id':rasa.id} ) }}">Раса - {{ rasa.title }}</a>#}
    <span class="aktiv ">Добавить страну, матковода</span>
{% endblock %}

{% block bodyy %}

    <div  class="proekts proekts--drev-rod">

            <h1 class="dre_title ">Родословная. Данные   из паспорта купленной матки</h1>
            <div class="drev-rod">

                <a href="{{ path('app.proekts.drevorods.rodras') }}"
                   class=" btnn-bord " >  Paca ::
                </a>

                <strong class="drev-rod_title drev-grad" > {{ rasa.title }}</strong>
                <strong class="drev-rod_title drev-grad" > В позиции матководов</strong>
                <div class="drev-rod drev-rod--rodrod">

                    <div class="drev">
                        <div class="drev__left">
                            <a href="{{ path('app.proekts.drevorods.rods.rodrods', {'id': rasa.id}) }}"
                               class=" btnn-bord " > Страна - матковод - код ::
                            </a>
                            <b class="drev-rod_title drev-grad" >
                                  {{ stran.name}} - {{ rodo.nameMatkov }} - {{ rodo.kodMatkov }}</b>
                        </div>
                        <div class="drev__right">
                            <strong class="drev-rod_title " >  В БД вариантов -  {{ rodoC }} </strong>
                        </div>
                    </div>

                    <div class="drev-rod drev-rod--lini">

                        {% if linias is  empty %}


                            <h1 class="dre_title ">  <strong class="strongo strongo--kras">Внимание! </strong> </h1>

                            <ul >
                                <li  class="drev-rod_title">
                                    Ввод данных для этой <strong class="strongo strongo--kras">родословной </strong> почему-то не закончен ?!,
                                </li>
                                <li class="drev-rod_title">
                                    пожалуйста, повторите запрос - ошибку исправим.
                                </li>
                                <li class="drev-rod_title">
                                     С извиненями за неудобство.
                                </li>
                            </ul>

                        {% else %}
                            <ul class="drev-rod_ul  ">
                                <li class=" drev-rod_li">Линии</li>

                                <li class=" drev-rod_li">Кол-во веток (Материнка)</li>
                            </ul>
                            <ul class="drev-rod_ul  ">
                                <li class=" drev-rod_li  drev-border"></li>
                                <li class=" drev-rod_li  drev-border"></li>

                            </ul>
                            {% for linia in linias %}

                                    <ul class="drev-rod_ul drev-grad-si">
                                        <li class=" drev-rod_li">
                                            <a href="{{ path('app.proekts.drevorods.rods.rodrods.linis.wetkas',{'id': linia.id}) }}"  class=" btnn-rodos " >
                                                {% if linia.name == "-" %}
                                                    названя нет
                                                {% else %}
                                                    {{ linia.name }}
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li class=" drev-rod_li td_cent" >  {{ linia.wetkas }}  </li>
                                    </ul>

                            {% endfor %}
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>



{% endblock %}