{% extends 'proekt/base.html.twig' %}

{% block title %}{{ childmatka.name }}{% endblock %}


{% block kroxii %}
        <a href="{{ path('proekt') }}">Главная</a>
        <a href="{{ path('proekt.pasekas.childmatkas') }}">Список ПлемМатки + ДочьМаток</a>             
        <span class="aktiv ">Редактировать ком-рий</span> 
    {% endblock %}

{% block bodyy %}

<div  class="proekts proekts--childmatka">

        <div class="inklud inklud--child">
            <div class="inklud__img  ">
                <img class="" src="{{ asset('assets/proekt/images/karandash_m.png') }}" alt="">
            </div>

            <div class="inklud__title  teni teni--kategor">
               Редактировать характенистики  ДочьМатки  {{childmatka.name}}
        </div>
        </div>

    <div class="proekts-plr" >
        <div class="plem-form__header  ">
                <div class="child-form ">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div>
                        <button type="submit"
                        class="btnn btnn--mb0 btnn--pt btnn--col-child">Сохранить</button>
                    </div>
                    {{ form_end(form) }}

                </div>
        </div>
    </div>
</div>
{% endblock %}