{% extends 'proekt/base.html.twig' %}

{% block title %}ДочьМатки{% endblock %}


{% block sidebar %}              
    {% include('proekt/pasekas/childmatkas/side/_sidefiltr.html.twig') %}
{% endblock %}
    {% block kroxii %}
        <a href="{{ path('proekt') }}">Главная</a>
        <a href="{{ path('proekt.pasekas.matkas') }}">Список ПлемМаток</a>
        <a href="{{ path('proekt.pasekas.matkas.plemmatkas.creates') }}">Рег-ция ПлемМатки</a>
        {% if plemmatka %}
            <li class="breadcrumb-item"><a href="{{ path('proekt.pasekas.childmatkas', {'id': plemmatka.id}) }}">{{ plemmatka.name }}</a></li>
        {% endif %}
        <span class="aktiv ">Список ПлемМаток + ДочьМаток</span>
    {% endblock %}

{% block bodyy %}



<div  class="proekts proekts--childmatka">
    <div class="inklud inklud--child">
        <div class="inklud__img  ">
            <img class="" src="{{ asset('../assets/proekt/images/matkas/p4ela1.jpg') }}" alt="">
        </div>
        {% if not plemmatka %}
                <div class="inklud__title  teni teni--kategor">
                    Список ПлемМаток и их ДочьМаток
                </div>
         {% else %}
            <div class="inklud__title ">
                список  ДочьМаток от <strong class="strongo  strongo--sizee " >{{plemmatka.sort}}  </strong> -- {{plemmatka.name}}
            </div>
         {% endif %}
    </div>


    <div class="tabl__header ">
        <div style="overflow: auto">
            <table class="tabl-child  tabl-hover-child">
               <tr>
                   <td>
                       <a href="{{ path('proekt.pasekas.childmatkas') }}"
                          class="btnn btnn--mb0 btnn--pt btnn--col"> Показать <strong class="strongo strongo--kras">всех  </strong> маток
                       </a>

                   </td>
                   <td>
                       <a href="{{ path('proekt.pasekas.childmatkas.own') }}"
                          class="btnn btnn--mb0 btnn--pt btnn--col"> Показать <strong class="strongo strongo--kras">моих  </strong> маток (автор)
                       </a>

                   </td>
                   <td>
                       <a href="{{ path('proekt.pasekas.childmatkas.me'  ) }}"
                          class="btnn btnn--mb0 btnn--pt btnn--col">Показать   <strong class="strongo strongo--kras">тестируемых мной </strong> маток (исполн)
                       </a>
                   </td>
               </tr>
           </table>

            <table class="tabl-child  tabl-hover-child ">
                <thead>

                    <tr>
                        <th>Сезон</th>
                        {% if not plemmatka %}
                            <th>{{ knp_pagination_sortable(pagination, 'ПлемМатка', 'plemmatka_name') }}</th>
                        {% endif %}
                        <th>{{ knp_pagination_sortable(pagination, 'ДочьМатка', 'name') }}</th>

                        <th>{{ knp_pagination_sortable(pagination, 'Выход', 't.date') }}</th>
                        <th></th>

                        <th>{{ knp_pagination_sortable(pagination, 'Автор', 'author_name') }}</th>
                        <th>Исполн.</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Статус', 't.status') }}</th>
                        <th >Приорит</th>
                    </tr>
                </thead>
                <tbody>
                {% set sezon = '2000' %}
                {% for childmatka in pagination %}

                    {% if  (childmatka.sezon_plem == sezon) %}
                        <tr>
                        <td></td>
                    {% else %}
                        <tr>
                            <td>
                                {{ childmatka.sezon_plem }}
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                        <td></td>
                    {% endif %}
                    {% set sezon = childmatka.sezon_plem %}

                    {% if not plemmatka %}
                        <td class="tabl-bord- tabl-bord-plem ">
                            <a href="{{ path('proekt.pasekas.matkas.plemmatkas.childmatka', {'plemmatka_id': childmatka.plemmatka_id}) }}" >
                                {% set foos = childmatka.plemmatka_name|split(' ') %}
                                {{ foos[0] }}-{{ childmatka.plemmatka_god}}
                            </a>
                        </td>
                    {% endif %}
        {% set  urowni = childmatka.urowni %}
{#                    style="background-color: rgb(190, 186, 151)#}
                            {% if childmatka.parent %}
                    <td class="tabl-bord- tabl-bord-child "  >
                                <div>
                                    {% for i in 1..urowni %}
                                    <img  style="margin-bottom: 2px" src="{{ asset('assets/proekt/images/strelka-m.png') }}" alt="редактировать">
                                    {% endfor %}
{#                                    <div class= "pull-right-m">#}
                                        <a  href="{{ path('proekt.pasekas.childmatkas.show', {'id': childmatka.id}) }}">
                                            {{ childmatka.name }}  ( {{ childmatka.content }} )
                                        </a>
{#                                    </div>#}
                                </div>
                            {% else %}
                    <td class="tabl-bord- tabl-bord-child "  >
                                <a href="{{ path('proekt.pasekas.childmatkas.show', {'id': childmatka.id}) }}">
                                    {{ childmatka.name }} ( {{ childmatka.content }} )
                                </a>
                            {% endif %}

                        </td>
                        <td class="tabl-bord- tabl-bord-child">{{ childmatka.date|date('Y-m-d') }}</td>
                        <td class="tabl-bord- tabl-bord-child">   {{ adminka_matkas_childmatka_type(childmatka.type) }}</td>
                        <td class="tabl-bord-">{{ childmatka.author_name }}</td>
                        <td class="tabl-bord-" >...
                            {% for executor in childmatka.executors %}
                                <span class="badge badge-default" style="background: #eee">{{ executor.name }}</span>
                            {% endfor %}
                        </td>
                        <td class="tabl-bord-">{{ adminka_matkas_childmatka_status(childmatka.status) }}</td>
                        <td class="tabl-bord-">{{ adminka_matkas_childmatka_priority(childmatka.priority) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}

