{% extends 'probase.html.twig' %}

{% block title %}Ветка{% endblock %}

{% block menupro %}
    {{ include('app/proekts/drevorods/_tabs.html.twig') }}
{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block bodyy %}

       <div  class="proekts proekts--drev-rod">

        <h1 class="dre_title ">Родословная. Данные   из паспорта купленной матки</h1>
        <div class="drev-rod">
            <a href="{{ path('app.proekts.drevorods.rodras') }}"
               class=" btnn-bord " >  Paca ::
            </a>
            <b class="drev-rod_title drev-grad" > {{ rasa.title }}  </b>

            <div class="drev-rod drev-rod--rodrod">
                <a href="{{ path('app.proekts.drevorods.rods.rodrods', {'id': rasa.id}) }}"
                   class=" btnn-bord " > Страна - матковод - код ::
                </a>
                <b class="drev-rod_title drev-grad" >
                    {{ stran.name}} - {{ rodo.nameMatkov }} - {{ rodo.kodMatkov }}</b>
                <div class="drev-rod drev-rod--lini">

                    <a href="{{ path('app.proekts.drevorods.rods.linis', {'id': rodo.id}) }}"
                       class=" btnn-bord " >Линия ::
                    </a>

                    <b class="drev-rod_title drev-grad" >
                        {% if linia.name == "-" %}
                            названя нет
                        {% else %}
                            {{ linia.name }}
                        {% endif %}
                    </b>
                    <div class="drev-rod drev-rod--lini">

                        <a href="{{ path('app.proekts.drevorods.rods.rodrods.linis.wetkas', {'id': linia.id}) }}"
                            class=" btnn-bord "  >Материнка Ветка   ::
                        </a>
                        <b class="drev-rod_title drev-grad" >
                            {{ wetka.nameW }}</b>


                            <div class="drev-rod drev-rod--lini">
                                <ul class="drev-rod_ul  ">
                                    <li class=" drev-rod_li">
                                        Материнка - номер
                                    </li>
                                    <li class=" drev-rod_li">
                                        Кол-во  номеров маток
                                    </li>
                                </ul>
                                <ul class="drev-rod_ul  ">
                                    <li class=" drev-rod_li  drev-border"></li>
                                    <li class=" drev-rod_li  drev-border"></li>

                                </ul>
                            {% for nomwet in nomwets %}

                            {% if nomwet.truts > 0 %}
                                <ul class="drev-rod_ul drev-grad-si">
                                    <li class=" drev-rod_li">
                                        <a href="{{ path('app.proekts.drevorods.rods.linis.wetkas.nomwets.mattruts',{'id': nomwet.id}) }}"  >

                                                {{ nomwet.tit_w }}
                                        </a>
                                    </li>
                                    <li class=" drev-rod_li td_cent">  {{ nomwet.truts }}  </li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>


{#    <b class="dre_title  ">Родословная. Данные   из паспорта купленной матки</b>#}

{#    <div class="box">#}
{#        <table class="table table-bordered table-hover">#}
{#            <thead>#}
{#            <tr>#}
{#                <th  class="fon_td_es" >Раса</th>#}
{#                <th  class="fon_td_es" >Страна</th>#}
{#                <th  class="fon_td_es" >Матковод(код)</th>#}
{#                <th class="fon_td_es" >Линии</th>#}
{#                <th  colspan="2"> Материнка</th>#}
{#                <th class="fon_td_nado" > Материнка трутня</th>#}
{#                <th> Матка </th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            <tr>#}
{#                <td class="fon_td_es">    {{ rasa }}</td>#}
{#                <td title = {{ stran.nomer }}  class="fon_td_es">  {{ stran.name}}  </td>#}
{#                <td  class="fon_td_es">    {{ rodo.nameMatkov }} / {{ rodo.kodMatkov }}</td>#}
{#                <td class="fon_td_es" >{{ linia.name }}</td>#}
{#                <td class="fon_td_es" >{{ wetka.nameW }}</td>#}
{#                <td class="fon_td" ></td>#}
{#                <td colspan="2" class="fon_td_no"></td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}

{#    <div class="box">#}

{#        <table class="table table-bordered table-hover">#}
{#            <thead>#}
{#            <tr>#}
{#                <th>Страна</th>#}
{#                <th>Раса</th>#}
{#                <th>Матковод(код)</th>#}
{#                <th>Линии</th>#}
{#                <th  colspan="2"> Материнка - номер</th>#}
{#                <th colspan="2"> редак-ть / удалить</th>#}
{#                <th colspan="3">Номер. Материнка трутня</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for nomwet in nomwets %}#}
{#                <tr>#}
{#                    <td>  {{ stran }}</td>#}
{#                    <td>  {{ rasa }}</td>#}
{#                    <td>   {{ rodo.nameMatkov }} ({{ rodo.kodMatkov }})</td>#}


{#                    <td>   {{ linia.name }}</td>#}
{#                    <td> {{ wetka.nameW }}</td>#}
{#                    <td> {{ nomwet.nom_w  }}-{{ nomwet.god_w  }}</td>#}
{#                    <td> <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.edit', {'id': wetka.id, 'nomwet_id': nomwet.id}) }}"#}
{#                            class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>#}
{#                    </td>#}
{#                    <td>#}
{#                        <form action="{{ path('drevos.rass.rods.linis.wetkas.nomwets.delete', {'id': wetka.id, 'nomwet_id': nomwet.id}) }}"#}
{#                              method="post" onsubmit="return confirm('Подтверждаете - удалить?')">#}
{#                            <input type="hidden" name="token" value="{{ token }}" />#}
{#                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa "><span class="fa fa-trash"></span></button>#}
{#                        </form>#}
{#                    </td>#}
{#                    <td>{{  nomwet.nomers}}</td>#}
{#                    <td>#}
{#                        <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.noms', {'id': nomwet.id}) }}">номер матки</a>#}
{#                    </td>#}
{#                    <td>#}
{#                        <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.noms', {'id': nomwet.id}) }}">номер матки</a>#}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    <div class = "rasa__content"  >#}
{#        <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.create', {'id': wetka.id}) }}"#}
{#           class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить еще<strong class="strongo strongo--kras"> номер</strong> на#}
{#             ветку  в БД</a>#}
{#    </div>#}



{% endblock %}