{% extends 'mail.html.twig' %}

{% block body %}

    <p>Привет, {{ author.name.first }}!</p>

    <p>Ваша задача &laquo;{{ task.name }}&raquo; назначена исполнителю{{ executor.name.full }}:</p>

    {% set url = url('work.projects.tasks.show', {'id': task.id}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}