{% extends 'base.html.twig' %}

{% block title %}Создать{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ path('adminka.rasas') }}">Раса -- {{ rasa.title }}</a></li>
        <li class="breadcrumb-item active">Добавить другую лини</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/adminka/otec-for-ras/_tabs.html.twig') }}

<article class="rasa rasa--otec">
<h3 	class="rasa__title  "><strong> Раса </strong>:  {{ rasa.name }} | {{ rasa.title }}</h3>
	<div class="linia linia--otec">

<h4 class="rasa__title"> Для <strong>{{ name }} </strong> - определяемся с отцовскили <strong> линиями </strong></h4>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btnn btnn--mb0 btnn--pt"  >Добавить в БД</button>
            <a href="{{ path('adminka.otec-for-ras.linias',{'id': rasa.id}) }}"
                class="btnn btnn--mb0 btnn--pt"> Выйти из режима "Добавить"</a>
        {{ form_end(form) }}
	</div>
</article>

{% endblock %}