{% extends 'base.html.twig' %}

{% block title %}Линия{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        {# <li class="breadcrumb-item"><a href="{{ path('adminka') }}">Paseka</a></li> #}
        <li class="breadcrumb-item"><a href="{{ path('adminka.rasas') }}">Раса</a></li>
        {# <li class="breadcrumb-item"><a href="{{ path('adminka.materis.rasas.show', {'id': rasas.id}) }}">{{ rasas.name }}</a></li> #}
        <li class="breadcrumb-item active">Настройки-!!!!!</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/adminka/otec-for-ras/_tabs.html.twig') }}


    <div class="box">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Name</th>
                     <td>{{ rasa.name }}</td> 
                </tr>
                <tr>
                    <th>Status</th>
                    {# <td>{{ materi_status(materi.status.name) }}</td> #}
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}