{% extends 'probase.html.twig' %}

{% block title %}Группы{% endblock %}

{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}
{% endblock %}

{% block kroxii %}
    <a href="{{ path('proekt') }}">Главная</a>
    <a href="{{ path('app.proekts.pasekas.uchasties.uchastiee') }}">Стать участником</a>
    <a href="{{ path('app.proekts.pasekas.uchasties.spisok') }}">Список участников</a>
    <span class="aktiv">Группы</span>

{% endblock %}


{% block bodyy %}

<div  class="proekts-group">

    <div class="uchasties">
        <div class="uchasties__left">

            <div class="tabll">
                <ul class = "uch-tabl__list uch-color">

                    <li class = "uch-tabl__list-li uch-tabl__list-li--group  uch-tabl__linia">Название группы</li>
                    <li class = "uch-tabl__list-li uch-tabl__list-li--group uch-tabl__linia" >Кол-во участников</li>
                </ul>

                {% for group in groups %}

                    <ul class = "uch-tabl__list uch-color-prof">

                        <li class = "uch-tabl__list-li uch-tabl__list-li--group">
                            {% if group.uchasties %}
                                <a  class="uch-tabl__link" href="{{ path('app.proekts.pasekas.uchasties', {'form': {'group': group.id}}) }}">{{ group.name }}</a>
                            {% else %}
                                {{ group.name }}
                            {% endif %}
                        </li>
                        <li class = "uch-tabl__list-li uch-tabl__list-li--group uch-tabl__linia"> {{ group.uchasties }}</li>

                    </ul>

                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}