{% extends 'base.html.twig' %}

{% block title %}{{ linia.name }}{% endblock %}

  {% block kroxii %}
	  <a href="{{ path('home') }}">Главная</a>
	  <a href="{{ path('drevos.rass.indbr') }}">Раса</a>
	  <span class="aktiv ">Линии</span>
  {% endblock %}

{% block body %}

	{{ include('app/adminka/rasas/_tabs.html.twig') }}

<article class="rasa">
<h1 	class="rasa__title  "><strong> Раса </strong>:  {{ rasa.name }} | {{ rasa.title }}</h1>
	<div class="linia ">
		<h1 class="rasa__title  ">Редактировать <strong>линию</strong> : {{ linia.name }} | {{linia.name }}</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-my btn-my--sm">Добавить измения в БД</button>
            {{ form_end(form) }}
	</div>
</article>

{% endblock %}