{% extends 'base.html.twig' %}

{% block title %}Раса{% endblock %}

   {% block kroxii %}
       <a href="{{ path('home') }}">Главная</a>
       <a href="{{ path('drevos.rass.indbr') }}">Раса</a>
       <span class="aktiv ">Линии</span>
   {% endblock %}

{% block body %}

    {{ include('app/adminka/rasas/_tabs.html.twig') }}

    <article class="rasa">
        <div class="rasa__header  ">
        <h4 class="rasa__title  "><strong class="strongo--sin" > Раса  </strong> : {{ rasa.title }} </h4>

            {% if linias is  empty %}

            <h1 class="rasa__title"> Пока для этой  расы - нет  зарегистрированных линий.  </h1>

            {% else %}

            <div class="linia ">
                <div class="rasa__header  ">
                    <h4 class="rasa__title "> <strong class="strongo--sin">  Линии, </strong> зарегистрированные в БД </h4>

                    <ul class="rasa__data">
                        <li class="rasa__name rasa__name--wid15 "> Название линии  </li>

                        <li class="rasa__name td_cent "> Кол-во веток </li>
                        <li class=" rasa__name--wid15 td_cent">
                            Смотреть\добавить
                        </li>
                        <li class=" rasa__name--wid5 ">
                            ред-вать
                        </li>
                        <li class="rasa__name--wid5">
                            удалить
                        </li>
                    </ul>

                    {% set token = csrf_token('delete') %}
                    {% for linia in linias %}
                        <ul class="rasa__data">
    {#                        {% if linia.vetka_id %}#}
    {#                            {% set foos = linia.name_star|split('-') %}#}
    {#                            <li class="rasa__name rasa__name--wid35">#}
    {#                                {% for i in 1..foos|length-1 %}#}
    {#                                    <img  style="margin-bottom: 2px" src="{{ asset('assets/proekt/images/strelka_w.png') }}" alt="редактировать">#}
    {#                                {% endfor %}#}
    {#                                {{ linia.name_star }} ( {{ linia.nomers }} )#}
    {#                            </li>#}

    {#                        {% else %}#}
                                <li class="rasa__name rasa__name--wid15 rasa__name--col">
                                    {{ linia.name }}
                                </li>
    {#                        {% endif %}#}

                            <li class="rasa__name td_cent"> {{ linia.kol_vets }} </li>

                            <li  class=" rasa__name--wid15 td_cent">
                                <a href="{{ path('drevos.rass.linibrs.vetbrs', {'id': linia.id}) }}"
                                   class="btnn btnn--mb0 btnn--pt btnn-brend">Ветки<strong class="strongo strongo--kras"> =></strong>
                                </a>
                            </li>

                            <li class=" rasa__name--wid5 td_cent">
                                <a href="{{ path('drevos.rass.linibrs.edit', {'id': rasa.id, 'linia_id': linia.id}) }}"
                                   class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>
                            </li>
                            <li class=" rasa__name--wid5 td_cent">
                                <form action="{{ path('drevos.rass.linibrs.delete', {'id': rasa.id, 'linia_id': linia.id}) }}" method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                                    <input type="hidden" name="token" value="{{ token }}" />
                                    <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-trash"></span></button>
                                </form>
                            </li>


                        </ul>
                    {% endfor %}
                </div>
                {% endif %}
                <div class = "rasa__content"  >
                    <a href="{{ path('drevos.rass.linibrs.create', {'id': rasa.id}) }}"
                       class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить другую
                        <strong class="strongo strongo--kras"> линию </strong> в БД</a>
                </div>
            </div>
            </div>
    </article><!-- rasas -->

{#    {{ include('app/adminka/rasas/_tabs.html.twig') }}#}

{#<article class="rasa">#}
{#    #}
{#        <h4 class="rasa__title  ">Раса : <strong  class="stro--kras" >  {{ rasa.name }} </strong>   - {{ rasa.title }}</h4>#}
{#        <div class="linia ">#}
{#            <div class="rasa__header  ">#}
{#                <h4 class="rasa__title "> <strong class="strongo">  Линии, </strong> зарегистрированные в#}
{#                    БД для  расы : <strong class="strongo"> {{ rasa.title }} </strong></h4>#}


{#                <ul class="rasa__data">#}
{#              <li class="rasa__name rasa__name--wid15 "> Название расы  </li>#}
{#              <li class="rasa__name  "> ( кол-во линий ) </li>#}
{#              <li class=" rasa__name--wid15">#}
{#                  Смотреть\добавить линию#}
{#              </li>#}
{#              <li class=" rasa__name--wid5 ">#}
{#                  редактировать#}
{#              </li>#}
{#              <li class="rasa__name--wid5">#}
{#                  удалить#}
{#              </li>#}
{#          </ul>#}

{#          {% set token = csrf_token('delete') %}#}
{#                {% for linia in linias %}#}

{#                    ( {{ rasa.linias }} )      #}
{#                <ul class="rasa__data">#}
{#                    <li class="rasa__name rasa__name--wid15 ">  {{ rasa.title }}  </li>#}
{#                    <li class="rasa__name  ">{{ rasa.name }}  </li>#}
{#                    <li class=" rasa__name--wid15">#}
{#                        <a href="{{ path('adminka.rasas.linias',{'id': rasa.id}) }}"#}
{#                           class="btnn btnn--mb0 btnn--pt btnn--rasa">См/Добавить#}
{#                            <strong class="strongo strongo--kras"> линии </strong>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class=" rasa__name--wid5 ">#}
{#                        <a href="{{ path('adminka.rasas.edit', {'id': rasa.id}) }}"#}
{#                            class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>#}
{#                    </li>#}
{#                    <li class="rasa__name--wid5">#}
{#                        <form action="{{ path('adminka.rasas.delete', {'id': rasa.id}) }}"#}
{#                              method="post" onsubmit="return confirm('Подтверждаете - удалить?')">#}
{#                            <input type="hidden" name="token" value="{{ token }}" />#}
{#                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa "><span class="fa fa-trash"></span></button>#}
{#                        </form>#}
{#                    </li>#}


{#                </ul>  #}
{#         {% endfor %}                #}
{#    </div>#}

{#    <div class = "rasa__content"  >#}
{#        <a href="{{ path('adminka.rasas.create') }}"#}
{#            class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить название другой <strong class=" strongo--kras"> расы </strong>  в БД</a>#}
{#    </div>#}
{#    </article><!-- rasas -->#}

{% endblock %}