{% extends 'base.html.twig' %}

{% block title %}Линия{% endblock %}

  {% block kroxii %}
      <a href="{{ path('home') }}">Главная</a>
      <a href="{{ path('drevos.rass.indbr') }}">Раса</a>
      <span class="aktiv ">Линии</span>
  {% endblock %}

{% block body %}

    {{ include('app/adminka/_tabs.html.twig') }}


      {# {% include 'app/rabota/materis/materi/_tabs.html.twig' %}
	  
	  {{ include('app/rabota/materis/materi/_linia.html.twig') }}

    {% include 'app/rabota/materis/materi/settings/_tabs.html.twig' %} #}

	


    <div class="box">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Name</th>
{#                     <td>{{ rasa.name }}</td> #}
                </tr>
                <tr>
                    <th>Status</th>
                    {# <td>{{ materi_status(materi.status.name) }}</td> #}
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}