{% extends 'base.html.twig' %}

{% block title %}Создать{% endblock %}


    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}


    <b class="dre_title  ">Родословная. Данные   из паспорта купленной матки</b>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th  class="fon_td_es" >Раса</th>
                <th  class="fon_td_es" >Страна</th>
                <th  class="fon_td_es" >Матковод(код)</th>
                <th class="fon_td_es" >Линии</th>
                <th  colspan="2"> Материнка</th>
                <th> Материнка трутня</th>
                <th> Матка </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="fon_td_es">    {{ rasa }}</td>
                <td title = {{ stran.nomer }}  class="fon_td_es">  {{ stran.name}}  </td>
                <td  class="fon_td_es">    {{ rodo.nameMatkov }} / {{ rodo.kodMatkov }}</td>
                <td class="fon_td_es" >{{ linia.name }}</td>
                <td class="fon_td_es" >{{ wetka.nameW }}</td>
                <td class="fon_td" ></td>
                <td colspan="2" class="fon_td_no"></td>
            </tr>
            </tbody>
        </table>
    </div>


<article class="rasa">
	<div class="linia ">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btnn btnn--mb0 btnn--pt">Добавить в БД</button>
{#            <a href="{{ path('drevos.rass.rods.linis.wetkas',{'id': linia.id}) }}"#}
{#                class="btnn btnn--mb0 btnn--pt"> Выйти из режима "Добавить"</a>#}
        {{ form_end(form) }}
	</div>
</article>

{% endblock %}