{% extends 'base.html.twig' %}

{% block title %}Редактировать{% endblock %}

    {% block kroxii %}
		<a href="{{ path('home') }}">Главная</a>
		<a href="{{ path('drevos.rass') }}">Родословная</a>
		<span class="aktiv ">Расы</span>
	{% endblock %}

{% block body %}

	{{ include('app/drevos/_tabs.html.twig') }}

	<div class="box">
	<b class="dre_title ">Редактировать</b>
		<div class="box-edit">

				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button type="submit" class="btn-my btn-my--sm">Добавить измения в БД</button>
				{{ form_end(form) }}
		</div>
	</div>>

{% endblock %}