{% extends 'base.html.twig' %}

{% block title %}{{ linia.name }}{% endblock %}

{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
		<li class="breadcrumb-item"><a href="{{ path('adminka.otec-for-ras') }}">Раса </a></li>
		<li class="breadcrumb-item"><a href="{{ path('adminka.otec-for-ras') }}">Линия -- {{ linia.name }}</a></li>
		<li class="breadcrumb-item active">редактировать</li>
	</ol>
{% endblock %}

{% block body %}

<article class="rasa rasa--otec">
	<h4 class="rasa__title  ">Раса :   {{ linia.title }}</h4>
	<div class="linia linia--otec">
		<h4 class="rasa__title  ">Линия :  {{ linia.name }}</h4>
		<div class="nomer ">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btnn btnn--mb0 btnn--pt">редактировать номер</button>
            </div>
            {{ form_end(form) }}
		
		</div>		
	</div>
</article><!-- rasas -->

    {# <h2>{{ nomer.name }}</h2>

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div> #}

{% endblock %}