{% extends 'probase.html.twig' %}

{% block title %}Родословная{% endblock %}

{#{% block sidebarr %}#}
{#    {% include('app/proekts/pasekas/matkas/side/_side_plem_rasa.html.twig') %}#}
{#{% endblock %}#}

{#{% block menupro %}#}
{#    {{ include('app/proekts/pasekas/matkas/_tabs.html.twig') }}#}
{#{% endblock %}#}

{% block kroxii %}
    <a href="{{ path('proekt') }}">Главная</a>
    <a href="{{ path('app.proekts.app.drevo-rods.dre-rasa') }}">Rasa</a>
    <span class="aktiv ">Выбoр Расы</span> 
{% endblock %}


{% block bodyy %}

 {{ include('app/drevos/_tabs.html.twig') }}
 
    <div  class="proekts proekts--rasa">

{#    {% include('app/proekts/pasekas/rasas/_rasa-includ.html.twig') %}#}

        <div class="proekts-plr  ">

            <h1 class="ras__title  ">Расы зарегистрированные в БД, жмём на нужную кнопку!</h1>

            {% for rasa in rasas %}

                <ul class="ras__data">
                    <li class="ras__name  ras__name--widt">  {{ rasa.title }}  ( {{ rasa.linias }} )</li>
                    <li >
                        <a href="{{ path('app.proekts.pasekas.rasas.linias.plemmatka',{'id': rasa.id}) }}" class="btnn btnn--pt btnn--mb0 btnn--col-ras" >
                         раса   <strong class="strongo strongo--kras">{{ rasa.name }} </strong>
                        </a>
                    </li>    
                                    
                    
                </ul>
            {% endfor %}

               <h1 class="ras__title ma-to-3 ">  <strong class="strongo strongo--kras">Внимание! </strong> </h1>
            <b class="ras__name ">   Если <strong class="strongo strongo--kras">нет </strong> нужного названия Расы: <br>
                   <strong class="strongo strongo--kras">1 - </strong>
                   жмите на кнопку<strong class="strongo ">  "раса - нет нужной" </strong>, <br>
                   <strong class="strongo strongo--kras">2 - </strong>
                   пишите запрос и<br>
                   <strong class="strongo strongo--kras">3 - </strong>
                   ожидайте, модератор  должен обработать запрос и записать данные в БД.</b>
        </div>
    </div><!-- rasas -->




{% endblock %}