{% extends 'base.html.twig' %}

{% block title %}Редактировать{% endblock %}

{% block breadcrumbs %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ path('home') }}">Главная</a></li>
{#		<li class="breadcrumb-item"><a href="{{ path('rodos.rasas') }}">Раса -- {{ rasa.title }}</a></li>#}
		<li class="breadcrumb-item active">Редактировать</li>
	</ol>
{% endblock %}

{% block body %}
<article class="rasa">

	<div class="linia ">
		<h1 class="rasa__title  ">Редактировать <strong>номер купленной матки</strong> : {{ nom.tit}}</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-my btn-my--sm">Добавить измения в БД</button>
            {{ form_end(form) }}
	</div>
</article>

{% endblock %}