{% extends 'base.html.twig' %}

{% block title %}Создать{% endblock %}


  {% block kroxii %}
      <a href="{{ path('home') }}">Главная</a>
      <a href="{{ path('drevos.rass.indbr') }}">Раса</a>
      <span class="aktiv ">Линии</span>
  {% endblock %}

{% block body %}

    {{ include('app/adminka/rasas/_tabs.html.twig') }}

<article class="rasa">
<h3 	class="rasa__title  "><strong  class="strongo--sin">Раса : </strong>    {{ rasa.title }}</h3>
	<div class="linia ">

    <h4 class="rasa__title"><strong class="strongo--sin">Линия : </strong> {{ linia.name }}</h4>

        <div class="vetka ">
            <div class="rasa__header  ">
                <h4 class="rasa__title"><strong class="strongo--sin">Ветка :</strong> {{ vetka.nomer }}-{{ vetka.god }}</h4>

                <div class="nomer ">
                    <div class="rasa__header  ">
                        <h4 class="rasa__title"><strong class="strongo--sin">Номер матки </strong> </h4>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btnn btnn--mb0 btnn--pt">Добавить в БД</button>
                        <a href="{{ path('drevos.rass.linibrs.vetbrs.nombrs',{'vetka_id': vetka.id}) }}"
                            class="btnn btnn--mb0 btnn--pt"> Выйти из режима "Добавить"</a>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
	</div>
</article>

{% endblock %}