{% extends 'probase.html.twig' %}

{% block title %}Nomer{% endblock %}

{% block sidebarr %}
    {% include('app/proekts/pasekas/matkas/side/_side_plem_nomer.html.twig') %}
{% endblock %}

{% block menupro %}
    {{ include('app/proekts/pasekas/matkas/_tabs.html.twig') }}
{% endblock %}

{% block kroxii %}
  <a href="{{ path('proekt') }}">Главная</a>
{#  <a href="{{ path('app.proekts.pasekas.matkas.plemmatkas.creates') }}">Рег-ция ПлемМатки</a>#}
{#  <a href="{{ path('app.proekts.pasekas.rasas.plemmatka') }}">Выбoр Расы</a>#}
{#  <a href="{{ path('app.proekts.pasekas.rasas.linias.plemmatka' , {'id': linia.rasa.id} ) }}">Раса: {{ linia.title }} : Линии - Ветки</a>#}
  <span class="aktiv">Выбор номера матки</span>
{% endblock %}

{% block bodyy %}
    <div class="proekts proekts--rasa">
{#    {% include 'app/proekts/pasekas/rasas/_rasa-includ.html.twig' %}#}

        <div class="inklud inklud--rasa">
            <div class="inklud__title teni teni--rasa">
              Выбираем Номер для регистрации брендовой ПлемМатки
            </div>
        </div>

        <div class="proekts-plr">
      <ul class="ras__data">
        <li>
          <svg width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-check2"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
          </svg>
        </li>
        <li class="ras__name">
            <strong class="strongo ">Раса : </strong>  {{ rasa.title }}

        </li>
      </ul>
{#    </div>#}

      <div class="lini">
          <ul class="ras__data">
                <li>
                      <svg width="2em"
                        height="2em"
                        viewBox="0 0 16 16"
                        class="bi bi-check2"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                      </svg>
                </li>
                <li class="ras__name">
                    <strong class="strongo ">Линия : </strong>  {{ linia.name }}
                </li>
          </ul>

                <div class="lini">
                      <ul class="ras__data">
                          <li>
                                <svg width="2em"
                                     height="2em"
                                     viewBox="0 0 16 16"
                                     class="bi bi-check2"
                                     fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                          </li>
                            <li class="ras__name">
                                <strong class="strongo ">Ветка : </strong>  {{ vetka.nomer }}-{{ vetka.god }}
                            </li>
                      </ul>

                      <div class="lini">
                            <div class="lini-margin">
                                <h1 class="  ras__title ">
                                    <strong class="strongo ">Номера материнок :</strong>
                                </h1>

                            {% for nomer in nomers %}
                                <ul class="ras__data ras__data--ras">

                                    <li  class="ras-nomer ras-nomer--wid12">
                                      {{ nomer.title }}
                                    </li>

                                    <li class="ras__name--widt9">
                                    <strong class="strongo strongo--kras"> {{ nomer_status(nomer.status) }} </strong>
                                    </li>

                                    {% if nomer.status == "active"   %}

                                        <li class="ras__name--widt16">
                                            <form action="{{ path('app.proekts.drevorods.rasbrs.linibrs.vetbrs.nomers.archive',{ vetka_id: vetka.id, id: nomer.id} ) }}" method="post" onsubmit="return confirm('Вы уверены?')">
                                            <input type="hidden" name="token" value="{{ csrf_token('archive') }}" />
                                            <button type="submit" class="btnn btnn--pt btnn--mb0">В архив</button>
                                            </form>
                                        </li>
                                    {% endif %}

                                    {% if nomer.status == "archived" %}
                                        <li class="ras__name--widt16">
                                          <form action="{{ path('app.proekts.drevorods.rasbrs.linibrs.vetbrs.nomers.reinstate',{ vetka_id: vetka.id, id: nomer.id} ) }}" method="post" onsubmit="return confirm('Вы уверены?')">
                                            <input type="hidden" name="token" value="{{ csrf_token('reinstate') }}" />
                                            <button type="submit" class="btnn btnn--pt btnn--mb0">Из архива</button>
                                          </form>
                                        </li>
                                    {% endif %}

                                    {% if nomer.status == "ojidaet" %}
                                        <li class="ras__name--widt16">
                                           <a href="{{ path('app.proekts.pasekas.matkas.plemmatkas.creates.plemmatka',{ id: nomer.id} ) }}"
                                              class="btnn btnn--pt btnn--mb0 ">  <strong class="strongo strongo--kras">выбрать номер </strong>
                                            </a>
                                        </li>

                                    {% endif %}

                                </ul>
                            {% endfor %}
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
  <!-- rasas -->
{% endblock %}
