   {% if children %}
        <div class="card-m">
{#            <div class="card-header-m">#}
{#                <a href="{{ path('proekt.pasekas.matkas.plemmatkas.childmatka.create', {'plemmatka_id': plemmatka.id , 'department_id' : departId }) }}?parent={{ childmatka.id }}"#}
{#                   class="btn btn-sm btn-default py-0 pull-right"><span class="fa fa-plus">----</span></a>#}
{#                ДочьМатка!!!#}
{#            </div>#}
            <table class="table table-bordered table-hover mb-0">
{#                <div class="card-header-m">#}
                <thead class="card-header-m">
                    <tr>

                        <th>ПлемМатка</th>
                        <th>Дочернии</th>
                        <th>Дата</th>
                        <th>Спаринг</th>
                        <th><span class="fa fa-fire"></span></th>
                        <th>Исполнитель</th>
                        <th>Статус</th>

                    </tr>
                </thead>
{#                </div>#}
                <tbody>
                    {% for child in children %}
                        <tr>

                            <td>
                                <a href="{{ path('proekt.pasekas.matkas', {'id': child.plemmatka_id}) }}">{{ korotkoName }}</a>
                            </td>
                            <td>
                                <a href="{{ path('proekt.pasekas.childmatkas.show', {'id': child.id}) }}">
                                    {{ child.name }}  ( {{ child.content }} )
                                </a>
                            </td>
                            <td>{{ child.date|date('Y-m-d') }}</td>
                            <td>
                                {% if child.type != 'none' %}
                                    {{ adminka_matkas_childmatka_type(child.type) }}
                                {% endif %}
                            </td>
                            <td>{{ adminka_matkas_childmatka_priority(child.priority) }}</td>
                            <td>
                                {% for executor in child.executors %}
                                    <span class="badge badge-default" style="background: #eee">{{ executor.name }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ adminka_matkas_childmatka_status(child.status) }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

