{% extends 'probase.html.twig' %}

{% block title %}Ветка{% endblock %}

{% block menupro %}
    {{ include('app/proekts/drevorods/_tabs.html.twig') }}
{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block bodyy %}

    <div  class="proekts proekts--drev-rod">

        <h1 class="dre_title ">Родословная. Данные   из паспорта купленной матки</h1>
        <div class="drev-rod">
            <a href="{{ path('app.proekts.drevorods.rodras') }}"
               class=" btnn-bord " >  Paca ::
            </a>
            <b class="drev-rod_title drev-grad" > {{ rasa.title }}  </b>

            <div class="drev-rod drev-rod--rodrod">

                <a href="{{ path('app.proekts.drevorods.rods.rodrods', {'id': rasa.id}) }}"
                   class=" btnn-bord " > Страна - матковод - код ::
                </a>
                <b class="drev-rod_title drev-grad" >
                    {{ stran.name}} - {{ rodo.nameMatkov }} - {{ rodo.kodMatkov }}</b>
                <div class="drev-rod drev-rod--lini">

                    <a href="{{ path('app.proekts.drevorods.rods.linis', {'id': rodo.id}) }}"
                       class=" btnn-bord " >Линия ::
                    </a>

                    <b class="drev-rod_title drev-grad" >
                        {% if linia.name == "-" %}
                            названя нет
                        {% else %}
                            {{ linia.name }}
                        {% endif %}
                    </b>
                    <div class="drev-rod drev-rod--lini">

                        <a href="{{ path('app.proekts.drevorods.rods.rodrods.linis.wetkas', {'id': linia.id}) }}"
                           class=" btnn-bord "  >Материнка Ветка   ::
                        </a>

                        <b class="drev-rod_title drev-grad" >
                            {{ wetka.nameW }}</b>

                        <div class="drev-rod drev-rod--lini">

                            <a href="{{ path('app.proekts.drevorods.rods.linis.wetkas.nomwets', {'id': wetka.id}) }}"
                               class=" btnn-bord "  > Материнка - номер ::
                            </a>

                            <b class="drev-rod_title drev-grad" >{{ nomwet.titW }}</b>

                            <div class="drev-rod drev-rod--lini">

                                <a href="{{ path('app.proekts.drevorods.rods.linis.wetkas.nomwets.mattruts', {'id': nomwet.id}) }}"
                                    class=" btnn-bord "  > Материнка трутня ::
                                </a>

                                <b class="drev-rod_title drev-grad" >{{ mattrut.nameOt }}</b>


                                <div class="drev-rod drev-rod--lini">
                                    <ul class="drev-rod_ul ">

                                        <li class=" drev-rod_li  drev-rod_li--widt">Номер матки</li>

                                        <li class=" drev-rod_li drev-rod_li--widt ">Купил</li>

                                        <li class=" drev-rod_li drev-rod_li--widt">Статус</li>

                                        <li  class=" drev-rod_li">Объявить ПлемМаткой</li>
                                    </ul>
                                    <ul class="drev-rod_ul  ">
                                        <li class=" drev-rod_li  drev-border"></li>
                                        <li class=" drev-rod_li  drev-border"></li>
                                        <li class=" drev-rod_li  drev-border"></li>
                                        <li class=" drev-rod_li  drev-border"></li>

                                    </ul>
                                    {% for nom in noms %}

                                        <ul class="drev-rod_ul drev-grad-si">

                                            <li  class=" drev-rod_li drev-rod_li--widt">
                                                <b class="drev-rod_title drev-red" > {{ nom.tit }}</b>
                                            </li>

                                            <li class=" drev-rod_li drev-rod_li--widt">  {{ nom.nike }}  </li>
                                            <li class=" drev-rod_li drev-rod_li--widt">  {{ nom_status(nom.status) }}  </li>
                                            {% if nom.status == "ojidaet" %}
                                                <li class="drev-rod_li">
                                                    <a href="{{ path('app.proekts.pasekas.drevmatkas.drevcreates.plemmatka',{ id: nom.id} ) }}"
                                                       class="btnn btnn--mb0 btnn--pt btnn--ojidaet ">  Объявить
                                                    </a>
                                                </li>
                                            {% endif %}
                                            {% if nom.status == "active" %}
                                                <li class="drev-rod_li">
                                                    <a href="{{ path('app.proekts.pasekas.drevmatkas.drevcreates.plemmatka',{ id: nom.id} ) }}"
                                                       class="btnn btnn--mb0 btnn--pt btnn--drev ">  Смотреть
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>

                                    {% endfor %}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}