{% extends 'base.html.twig' %}

{% block title %}Раса{% endblock %}

{% block kroxii %}
    <a href="{{ path('home') }}">Главная</a>
    <a href="{{ path('drevos.rass') }}">Родословная</a>
    <span class="aktiv ">Раса - добавить </span>
{% endblock %}


{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}

<article class="rasa">
    <h1 class="rasa__title  ">Добавление названия другой расы </h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-my btn-my--sm">Добавить в БД</button>
            <a href="{{ path('drevos.rass') }}"
                class="btn-my btn-my--sm"> Выйти из режима "Добавить"</a>
            {{ form_end(form) }}

</article><!-- rasas -->



{% endblock %}