{% extends 'proekt/base.html.twig' %}

{% block title %}{{ plemmatka.name }}{% endblock %}

{% block kroxii %}
<a href="{{ path('proekt') }}">Главная</a>
<a href="{{ path('proekt.pasekas.matkas.plemmatkas.creates') }}">Рег-ция ПлемМатки</a>
<a href="{{ path('proekt.pasekas.matkas') }}">Список ПлемМаток</a>
<a href="{{ path('proekt.pasekas.matkas.plemmatkas.show', {'plemmatka_id': plemmatka.id})  }}">{{ plemmatka.name }}</a>
<a href="{{ path('proekt.pasekas.matkas.plemmatkas.redaktorss.show', {'plemmatka_id': plemmatka.id})  }}">Редактировать</a>
<span class="aktiv ">Добавить сезон</span>

{% block bodyy %}

    <div  class="  proekts-plem">

    <div class="inklud">

        <div class="inklud__img  ">
            <img class="" src="{{ asset('assets/proekt/images/sezon/sezon4.png') }}" alt="">
        </div>

        <div class="inklud__title inklud__title--plem teni">
            Добавить сезон . Редактировать . Статус (Активная/В архиве)
        </div>
    </div>


    <div class="proekts-plr" >
    <h1 class="plem__title  "><strong class="strongo ">{{ plemmatka.name }} </strong> --   ПлемМатка, берём за основу для ТестМаток</h1>

        {% for uchastnik in uchastniks %}
            <ul class="plem plem__jus-st ">
                <li class="plem__name " > {{ uchastnik.uchastie.nike }}  ( {{ uchastnik.uchastie.name.full }} )</li>
                <li class="ma-le-2 " >
                    <ul class="list-unstyled my-0">
                        {% for role in uchastnik.roles %}
                            <li>{{ role.name }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="ma-le-2 " >
                    <ul class="list-unstyled my-0">
                        {% for department in uchastnik.departments %}
                            <li>{{ department.name }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
        <ul class="plem plem__jus-st ">
            <li class="plem__name " ><strong class="strongo ">Все сезоны данной ПлемМатки: </strong></li>
            {#            <li class="plem__name " >{{plemmatka.title}}</li>#}
            <li class="plem__name--wid20">  &nbsp; &nbsp;
                <a href="{{ path('proekt.pasekas.matkas.plemmatkas.redaktorss.departmentss',
                    {'plemmatka_id': plemmatka.id}) }}" class="btnn btnn--mb0 btnn--col">Смотреть</a>
            </li>
        </ul>

    </div>
</div>





    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Ник ( Имя )</th>
                <th>Сезоны</th>
                <th>Роли</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set token = csrf_token('revoke') %}
            {% for uchastnik in uchastniks %}
                <tr>
                    <td>
{#                        <a href="{{ path('paseka.uchasties.show', {'id': uchastnik.uchastie.id}) }}" target="_blank" class="pull-right"><span class="fa fa-external-link"></span></a>#}
                        {{ uchastnik.uchastie.nike }}  ( {{ uchastnik.uchastie.name.full }} )
                    </td>
                    <td>
                        <ul class="list-unstyled my-0">
                            {% for department in uchastnik.departments %}
                                <li>{{ department.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled my-0">
                            {% for role in uchastnik.roles %}
                                <li>{{ role.name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <div class="d-flex flex-row">
{#                            <a href="{{ path('paseka.matkas.plemmatka.redaktors.uchasties.edit', {'plemmatka_id': plemmatka.id, 'uchastie_id': uchastnik.uchastie.id}) }}" class="btn btn-sm btn-primary mr-1"><span class="fa fa-pencil"></span></a>#}
{#                            <form action="{{ path('paseka.matkas.plemmatka.redaktors.uchasties.revoke', {'plemmatka_id': plemmatka.id, 'uchastie_id': uchastnik.uchastie.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">#}
{#                                <input type="hidden" name="token" value="{{ token }}" />#}
{#                                <button type="submit" class="btn btn-sm btn-danger"><span class="fa fa-times"></span></button>#}
{#                            </form>#}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}