{% extends 'proekt/base.html.twig' %}

{% block title %}{{ plemmatka.name }}{% endblock %}

{% block kroxii %}
<a href="{{ path('proekt') }}">Главная</a>
<a href="{{ path('proekt.pasekas.matkas.plemmatkas.creates') }}">Рег-ция ПлемМатки</a>
<a href="{{ path('proekt.pasekas.matkas') }}">Список ПлемМаток</a>
<a href="{{ path('proekt.pasekas.matkas.plemmatkas.show', {'plemmatka_id': plemmatka.id})  }}">{{ plemmatka.name }}</a>
<a href="{{ path('proekt.pasekas.matkas.plemmatkas.redaktorss.show', {'plemmatka_id': plemmatka.id})  }}">Редактировать</a>
<span class="aktiv ">Добавить сезон</span>
{% endblock %}

{% block bodyy %}

    <div  class="  proekts-plem">

    <div class="inklud">

        <div class="inklud__img  ">
            <img class="" src="{{ asset('assets/proekt/images/sezon/sezon4.png') }}" alt="">
        </div>

        <div class="inklud__title inklud__title--plem teni">
            Добавить сезон . Редактировать . Статус (Активная/В архиве)----смотреть или удалить
        </div>
    </div>


    <div class="proekts-plr" >
    <h1 class="plem__title  "><strong class="strongo ">{{ plemmatka.name }} </strong> --   ПлемМатка, берём за основу для ТестМаток</h1>

        {# {% for uchastnik in uchastniks %}
            <ul class="plem plem__jus-st ">
                <li  > <strong class="strongo ">{{ uchastnik.uchastie.nike }}  </strong> </li>
                <li class="ma-le-2 " >
                    <ul class="list-unstyled my-0">
                        {% for role in uchastnik.roles %}
                            <li>( {{ role.name }} ), сезоны : </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="ma-le-2 " >
                    <ul class="list-unstyled my-0">
                        {% for department in uchastnik.departments %}
                            <li>{{ department.name }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
        <ul class="plem plem__jus-st ">
           
            <li class="plem__name--wid20">  &nbsp; &nbsp;
                <a href="{{ path('proekt.pasekas.matkas.plemmatkas.redaktorss.show',
                    {'plemmatka_id': plemmatka.id}) }}" class="btnn btnn--mb0 btnn--col"> - перейти на страничку редактирования</a>
            </li>
            <li class="plem__name--wid20">  &nbsp; &nbsp;
                <a href="{{ path('proekt.pasekas.matkas.plemmatkas.childmatka.show',
                    {'plemmatka_id': plemmatka.id}) }}" class="btnn btnn--mb0 btnn--col"> - перейти на страничку добавления ДочьМаток</a>
            </li>
        </ul>

    </div>
</div> #}



{% endblock %}