{% extends 'probase.html.twig' %}

{% block title %}Добавить{% endblock %}


{% block kroxii %}
    <a href="{{ path('proekt') }}">Главная</a>
    <a href="{{ path('app.proekts.pasekas.matkas.plemmatkas.creates') }}">Рег-ция ПлемМатки</a>
    <a href="{{ path('app.proekts.pasekas.matkas') }}">Список ПлемМаток</a>
    <a href="{{ path('app.proekts.pasekas.matkas') }}">???Список ПлемМаток</a>
    <span class="aktiv ">Добавить ДочьМаток!</span>
{% endblock %}   

{% block bodyy %}

{#    {% include 'app/work/projects/project/_tabs.html.twig' %}#}

<div  class="proekts proekts--childmatka pb0">

    <div class="inklud inklud--child">

        <div class="inklud__img">
        <img class="" src="{{ asset('assets/proekt/images/matkas/wetochka.png') }}" alt="">
            
        </div>

        <div class="inklud__title  teni">
{#            {% if childmatka.parent %}#}
{#                <a href="{{ path('app.proekts.pasekas.childmatkas.show', {'id': childmatka.parent.id}) }}"#}
{#                   style="color: #155799;; " > {{ childmatka.parent.name }} </a>#}
{#            {% else %}#}
            <strong class="strongo "> ПлемМатка </strong>    {{ plemmatka.name }}  <strong class="strongo "> сезон </strong> {{ sezonPlem }}

{#            {% endif %}#}

            </div>
        </div>

        <div class="proekts-plr  ">

            <h1 class="plem__title  ">Заполняем 6-ть позиций:</h1>
            <div class="plem-form__header  ">
                <div class="child-form ">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div>
                        <button type="submit" class="btnn  btnn--pt btnn--col-child ">- Сохранить -</button>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

    {#    <div class="controls">#}
{#        <h2> Добавить ДочьМатку к  <strong class="strongo strongo--kras">  {{ plemmatka.name }} </strong> сезон#}
{#            <strong class="strongo strongo--kras">  {{ sezonPlem }} </strong></h2>#}
{#    </div>#}

{#    <div class="card">#}
{#        <div class="card-body">#}

{#            {{ form_start(form) }}#}
{#            {{ form_widget(form) }}#}
{#            <div>#}
{#                <button type="submit" class="btn btn-primary">СОХРАНИТЬ</button>#}
{#                <a href="{{ path('adminka.matkas') }}"#}
{#                   class="btn-my btn-my--sm"> Выйти из режима "Добавить"</a>#}
{#            </div>#}
{#            {{ form_end(form) }}#}

{#        </div>#}
{#    </div>#}

{% endblock %}