{% extends 'base.html.twig' %}

{% block title %}{{ rasa.name }}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka') }}">Work</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas') }}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas.rasa.show', {'id': rasa.id}) }}">{{ rasa.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas.rasa.settings', {'rasa_id': rasa.id}) }}">Settings</a></li>
        <li class="breadcrumb-item"><a href="{{ path('paseka.rasas.rasa.settings.members', {'rasa_id': rasa.id}) }}">Members</a></li>
        <li class="breadcrumb-item active">Assign</li>
    </ol>
{% endblock %}

{% block body %}
{# 
    {% include 'app/paseka/rasas/rasa/_tabs.html.twig' %}

    {% include 'app/paseka/rasas/rasa/settings/_tabs.html.twig' %} #}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary">Assign</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}