{% extends 'probase.html.twig' %}

{% block title %}Ветка{% endblock %}

{% block menupro %}
    {{ include('app/proekts/drevorods/_tabs.html.twig') }}
{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block bodyy %}



{#    <b class="dre_title   ">Родословная. Данные   из паспорта купленной матки</b>#}

{#    <div class="box">#}
{#        <table class="table table-bordered table-hover">#}
{#            <thead>#}
{#            <tr>#}
{#                <th  class="fon_td_es" >Раса</th>#}
{#                <th  class="fon_td_es" >Страна</th>#}
{#                <th  class="fon_td_es" >Матковод(код)</th>#}
{#                <th class="fon_td_es" >Линии</th>#}
{#                <th  colspan="2"  class="fon_td_es"> Материнка</th>#}
{#                <th> Материнка трутня</th>#}
{#                <th> Матка </th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            <tr>#}
{#                <td class="fon_td_es">    {{ rasa }}</td>#}
{#                <td title = {{ stran.nomer }}  class="fon_td_es">  {{ stran.name}}  </td>#}
{#                <td  class="fon_td_es">    {{ rodo.nameMatkov }} / {{ rodo.kodMatkov }}</td>#}
{#                <td class="fon_td_es" >{{ linia.name }}</td>#}
{#                <td class="fon_td_es" >{{ wetka.nameW }}</td>#}
{#                <td class="fon_td_es" >{{ nomwet.nomW }}-{{ nomwet.godW }}</td>#}
{#                <td  class="fon_td"></td>#}
{#                <td  class="fon_td"></td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}


{#    <div class="box">#}

{#        <table class="table table-bordered table-hover">#}
{#            <thead>#}
{#            <tr>#}

{#                <th> Материнка трутня</th>#}
{#                <th> Матка </th>#}
{#                <th> редактировать</th>#}
{#                <th> удалить</th>#}

{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for nom in noms %}#}
{#                <tr>#}
{#                    <td>  {{ stran }}</td>#}
{#                    <td>  {{ rasa }}</td>#}
{#                    <td>   {{ rodo.nameMatkov }} ({{ rodo.kodMatkov }})</td>#}


{#                    <td>   {{ linia.name }}</td>#}

{#                    <td> {{ wetka.nameW }}-{{ nomwet.nomW  }}-{{ nomwet.godW  }}</td>#}
{#                    <td>{{ nom.name_ot }}</td>#}
{#                    <td>{{ nom.tit }}</td>#}
{#                    <td> <a href="{{ path('drevos.rass.rods.linis.wetkas.nomwets.noms.edit', {'id': nomwet.id, 'nom_id': nom.id}) }}"#}
{#                            class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>#}
{#                    </td>#}
{#                    <td>#}
{#                        <form action="{{ path('drevos.rass.rods.linis.wetkas.nomwets.noms.delete', {'id': nomwet.id, 'nom_id': nom.id}) }}"#}
{#                              method="post" onsubmit="return confirm('Подтверждаете - удалить?')">#}
{#                            <input type="hidden" name="token" value="{{ token }}" />#}
{#                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa "><span class="fa fa-trash"></span></button>#}
{#                        </form>#}
{#                    </td>#}

{#                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}



{% endblock %}