{% extends 'auth.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            {% include '_flashes.html.twig' %}

                            <h1 class="teni teni--auth">Авторизация</h1>

                            <p class="text-mutedb ma-bo-1">Войди в свою учетную запись</p>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <form method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-envelope"></i></span>
                                    </div>
                                    <input class="form-control" type="email" name="email" value="{{ last_username }}" placeholder="Email" />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <input class="form-control" type="password" name="password" placeholder="Пароль" />
                                </div>
                                <div class="form-group">
                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> <span class="text-muted">Помни меня )))</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row ma-bo-2">
                                    <div class="col-6">
                                        <button class="btn btn-primary px-4" type="submit">Вход</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a class="btn btn-link px-0" href="{{ path('auth.reset') }}">Забыли пароль?</a>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <div class="row">
                                <div class="col-12">
                                    <a class="btn btn-block btn-facebook" href="{{ path('oauth.facebook') }}">
                                        <span>facebook</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body fo-si ">
                            <div class=" text-center ma-bo-1">
                                <h3 class="  ma-bo-1" >
                                    <strong class=" strongo strongo--chast-text teni ma-bo-2">Регистрация</strong>
                                </h3>

                                <p class="  ma-bo-1"  >Сайт для пчеловодов и матководов.</p>
                            </div>
                            <div class="  ma-bo-1" >
                                <h3 >
                                    <p  class=" pa-le-2 ">
                                        <strong class=" strongo strongo--chast-text teni ">Рег - </strong>региональное
                                    </p>
                                    <p  class=" pa-le-5 ">
                                        <strong class="strongo strongo--chast-text teni ">Те - </strong>тестирование
                                    </p>
                                    <p class=" pa-le-8 " >
                                        <strong class="strongo strongo--chast-text teni ">Ма - </strong>маток.
                                    </p>
                                </h3>
                            </div>
                            <div class=" text-center ma-bo-1">
                                <a class="btn btn-primary active mt-3" href="{{ path('auth.signup') }}">Зарегистрироваться
                                    Сейчас!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}