{% extends 'probase.html.twig' %}

{% block title %}Ветка{% endblock %}

{% block menupro %}
    {{ include('app/proekts/drevorods/_tabs.html.twig') }}
{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Ветки</span>
    {% endblock %}

{% block bodyy %}

    <div  class="proekts proekts--drev-rod">

        <h1 class="dre_title ">Родословная. Данные   из паспорта купленной матки</h1>
        <div class="drev-rod">
            <a href="{{ path('app.proekts.drevorods.rodras') }}"  >
                <b class="drev-rod_title" >  Paca ::  </b>
            </a>
            <b class="drev-rod_title drev-grad" > {{ rasa.title }}  </b>

            <div class="drev-rod drev-rod--rodrod">

                <a href="{{ path('app.proekts.drevorods.rods.rodrods', {'id': rasa.id}) }}"  >
                    <b class="drev-rod_title " >Страна - матковод - код :: </b>
                </a>
                <b class="drev-rod_title drev-grad" >
                    {{ stran.name}} - {{ rodo.nameMatkov }} - {{ rodo.kodMatkov }}</b>
                <div class="drev-rod drev-rod--lini">

                    <a href="{{ path('app.proekts.drevorods.rods.linis', {'id': rodo.id}) }}"  >
                         <b class="drev-rod_title " >Линия :: </b>
                    </a>

                    <b class="drev-rod_title drev-grad" >
                        {% if linia.name == "-" %}
                            названя нет
                        {% else %}
                            {{ linia.name }}
                        {% endif %}
                    </b>
                    <div class="drev-rod drev-rod--lini">
                        <ul class="drev-rod_ul drev-grad-si ">
                            <li class=" drev-rod_li">
                                Материнка  ветка
                            </li>
                            <li class=" drev-rod_li">
                                Кол-во номеров (Материнка)
                            </li>
                        </ul>
                        {% for wetka in wetkas %}
                        {% if linia.wetkas > 0 %}
                            <ul class="drev-rod_ul">
                                <li class=" drev-rod_li">
                                    <a href="{{ path('app.proekts.drevorods.rods.linis.wetkas.nomwets',{'id': wetka.id}) }}"  >

                                            {{ wetka.name_w }}
                                    </a>
                                </li>
                                <li class=" drev-rod_li" >  {{ wetka.nomwets }}  </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}