{% extends 'base.html.twig' %}

{% block title %}Создать{% endblock %}


    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <a href="{{ path('drevos.rass', {'id':rasa.id} ) }}">Раса - {{ rasa.title }}</a>
        <span class="aktiv ">Добавить страну, матковода</span>
    {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}

    <div class="box">

        <b class="dre_title "><strongo class="strongo--krox">Страна - Матковод - Код </strongo> - данные из паспорта или личных архивных данных</b>
    </div>
    <div class="box-smotrim">

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="fon_td_es">Раса</th>
                <th>Страна</th>
                <th >Матковод</th>
                <th >Код</th>
                <th class="fon_td_no" >Линии</th>
                <th class="fon_td_no" > Материнка</th>
                <th class="fon_td_no"> Материнка трутня</th>
                <th class="fon_td_no"> Матка </th>
                <th class="fon_td_no"> Заказал </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="fon_td_es">   {{ rasa.title }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="5" class="fon_td_no"></td>
            </tr>
            </tbody>
        </table>
    </div>


        <div class="box-edit">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btnn btnn--mb0 btnn--pt">Добавить в БД</button>
                <a href="{{ path('drevos.rass.rods',{'id': rasa.id}) }}"
                    class="btnn btnn--mb0 btnn--pt"> Выйти из режима "Добавить"</a>
            {{ form_end(form) }}
        </div>
{#    </div>#}

{% endblock %}