{% extends 'base.html.twig' %}

{% block title %}Родословная{% endblock %}

{% block kroxii %}
    <a href="{{ path('home') }}">Главная</a>
    <a href="{{ path('drevos.rass') }}">Родословная</a>
    <a href="{{ path('drevos.rass', {'id':rasa.id} ) }}">Раса - {{ rasa.title }}</a>
    <span class="aktiv ">Добавить страну, матковода</span>
{% endblock %}



{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}

    {% set token = csrf_token('delete') %}


    <div class="box">
        <b class="dre_title ">Родословная. Данные   из паспорта купленной матки</b>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="fon_td_es" >Раса  </th>
                <th>Страна</th>                
                <th>Матковод / Код</th>
                <th class="fon_td" colspan="2"> редак-ть / удалить</th>
                <th class="fon_td_nado" colspan="3" >Линии  (кол-во)</th>

            </tr>
            </thead>
            <tbody>
            {% for rodo in rodos %}
                <tr>
                    <td class="fon_td_es" > {{ rasa.title }}</td>
                    <td title = {{ rodo.strana }}> {{ rodo.str_nom}}  </td>               
                    <td>   {{ rodo.name_matkov }} / {{ rodo.kod_matkov }}</td>                  
                    <td class="fon_td">
                        <a href="{{ path('drevos.rass.rods.edit', {'id': rasa.id, 'rodo_id': rodo.id}) }}"
                           class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>
                    </td>
                    <td class="fon_td">
                        <form action="{{ path('drevos.rass.rods.delete', {'id': rasa.id, 'rodo_id': rodo.id}) }}"
                              method="post" onsubmit="return confirm('Подтверждаете - удалить?')">
                            <input type="hidden" name="token" value="{{ token }}" />
                            <button type="submit" class="btnn btnn--mb0 btnn--pt btnn--rasa "><span class="fa fa-trash"></span></button>
                        </form>
                    </td>
                     <td > {{ rodo.linias }}  </td>
                    <td  >
                        <a href="{{ path('drevos.rass.rods.linis', {'id': rodo.id}) }}">Смотреть линии</a>
                    </td>
                    <td  >
                       <a href="{{ path('drevos.rass.rods.linis.create', {'id': rodo.id}) }}">Добавить линию</a>
                   </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class = "rasa__content"  >
        <a href="{{ path('drevos.rass.rods.create', {'id': rasa.id}) }}"
           class="btnn btnn--mb0 btnn--pt btnn--rasa">Добавить матковода для
            <strong class="strongo strongo--kras"> родословной </strong> в БД</a>
    </div>



{% endblock %}