{% extends 'base.html.twig' %}

{% block title %}Смотрим{% endblock %}

    {% block kroxii %}
        <a href="{{ path('home') }}">Главная</a>
        <a href="{{ path('drevos.rass') }}">Родословная</a>
        <span class="aktiv ">Расы</span>
    {% endblock %}

{% block body %}

    {{ include('app/drevos/_tabs.html.twig') }}

    {% set token = csrf_token('delete') %}

    <div class="box">
    <b class="dre_title  ">Родословная. Смотрим, что получилось</b>
    </div>
    <div class="box-smotrim">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="fon_td_es" >Раса</th>
                <th>Страна</th>
                <th colspan="2">Матковод(код)</th>
                <th class="fon_td"></th>
                <th class="fon_td_no" >Линии</th>
                <th class="fon_td_no" > Материнка</th>
                <th class="fon_td_no"> Материнка трутня</th>
                <th class="fon_td_no"> Матка </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="fon_td_es">   {{ rasa.title }}</td>
                <td>{{ stran.name }}</td>
                <td>{{ rodo.nameMatkov }}</td>
                <td>{{ rodo.kodMatkov }}</td>
                <td class="fon_td">
                    <a href="{{ path('drevos.rass.rods.edit', {'id': rasa.id, 'rodo_id': rodo.id}) }}"
                       class="btnn btnn--mb0 btnn--pt btnn--rasa"><span class="fa fa-pencil"></span></a>
                </td>
                <td colspan="4" class="fon_td_no"></td>
            </tr>
            </tbody>
        </table>

    </div >

    <div   >
        <a href="{{ path('drevos.rass.rods.linis.create', {'id': rodo.id}) }}"
           class="btnn btnn--mb0 btnn--pt btnn--rasa">Продолжить - данные о
            <strong class="strongo strongo--kras"> линии!! </strong> </a>
    </div>
{% endblock %}