{% extends 'probase.html.twig' %}

{% block title %}Родословная{% endblock %}

{% block menupro %}
    {{ include('app/proekts/drevorods/_tabs.html.twig') }}
{% endblock %}

{% block kroxii %}
    <a href="{{ path('home') }}">Главная</a>
{#    <a href="{{ path('drevos.rass') }}">Родословная</a>#}
{#    <a href="{{ path('drevos.rass', {'id':rasa.id} ) }}">Раса - {{ rasa.title }}</a>#}
    <span class="aktiv ">Добавить страну, матковода</span>
{% endblock %}

{% block bodyy %}
    <div  class="proekts proekts--drev-rod">

            <h1 class="dre_title ">Родословная. Данные   из паспорта купленной матки</h1>

            <div class="drev-rod">
                <a href="{{ path('app.proekts.drevorods.rodras') }}"
                    class=" btnn-bord " >  Paca ::
                </a>

                <b class="drev-rod_title drev-grad" > {{ rasa.title }}

                </b>
                <div class="drev-rod drev-rod--rodrod">
                    <ul class="drev-rod_ul  ">
                        <li class=" drev-rod_li">
                           Страна
                        </li>
                        <li class=" drev-rod_li">Матковод</li>
                        <li class=" drev-rod_li">Код</li>
                        <li class=" drev-rod_li">Кол. линий</li>
                    </ul>
                    <ul class="drev-rod_ul  ">
                        <li class=" drev-rod_li  drev-border"></li>
                        <li class=" drev-rod_li  drev-border"></li>
                        <li class=" drev-rod_li  drev-border"></li>
                        <li class=" drev-rod_li  drev-border"></li>
                    </ul>
                    {% for rodo in rodos %}
                        {% if rodo.linias > 0 %}

                            <ul class="drev-rod_ul drev-grad-si ">
                                <li class=" drev-rod_li"> {{ rodo.strana}}
                                </li>
                                <li class=" drev-rod_li">
                                    <a href="{{ path('app.proekts.drevorods.rods.linis',{'id': rodo.id}) }}" class=" btnn-rodos " >
                                        {{ rodo.name_matkov }}
                                    </a>
                                </li>
                                <li class=" drev-rod_li">
                                    {{ rodo.kod_matkov }}
                                </li>
                                <li class=" drev-rod_li " >  {{ rodo.linias }}  </li>
                            </ul>

                        {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}