{% extends 'probase.html.twig' %}

{% block title %}Родословная{% endblock %}

{% block menupro %}
    {{ include('app/proekts/drevorods/_tabs.html.twig') }}
{% endblock %}

{% block kroxii %}
    <a href="{{ path('home') }}">Главная</a>
{#    <a href="{{ path('drevos.rass') }}">Родословная</a>#}
{#    <a href="{{ path('drevos.rass', {'id':rasa.id} ) }}">Раса - {{ rasa.title }}</a>#}
    <span class="aktiv ">Добавить страну, матковода</span>
{% endblock %}

{% block bodyy %}
    <div  class="proekts proekts--drev-rod">

            <h1 class="dre_title ">Родословная. Данные   из паспорта купленной матки</h1>
            <div class="drev-rod">
               <b class="drev-rod_title drev-red" > {{ rasa.title }}  </b>
                <div class="drev-rod drev-rod--rodrod">
                    {% for rodo in rodos %}
                        {% if rodo.linias > 0 %}
                            <ul class="drev-rod_ul">
                                <li class=" drev-rod_li"> {{ rodo.strana}} </li>
                                <li class=" drev-rod_li">
                                    <a href="{{ path('app.proekts.drevorods.rods.linis',{'id': rodo.id}) }}"  >
                                        {{ rodo.name_matkov }} / {{ rodo.kod_matkov }}
                                    </a>

                                </li>
                                <li> ( {{ rodo.linias }} ) </li>
                            </ul>
                        {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="box">
        <b class="dre_title ">Родословная. Данные   из паспорта купленной матки</b>
        {{ rasa.title }}
        <table class="table table-bordered table-hover">
            <thead>
            <tr>

                <th>Страна</th>
                <th>Матковод / Код</th>

                <th class="fon_td_nado" colspan="3" >Линии  (кол-во)</th>

            </tr>
            </thead>
            <tbody>
            {% for rodo in rodos %}
                <tr>

                    <td title = {{ rodo.strana }}> {{ rodo.str_nom}}  </td>
                    <td>   {{ rodo.name_matkov }} / {{ rodo.kod_matkov }}</td>
<td>{{ rodo.linias }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}