<header class="header  teni  teni--size-2">
    <div class="header__left">
		<nav class="nav ">
			<ul class="nav__list ">
				<li class="nav__item " >
					<a class="nav__link has-subnav  nav-teni" href="/app/proekts/basepro">Главная </a>
					<ul class="subnav">
						<li>

							<a class="subnav__link"  href="{{ path('app.proekts.mestos.okrugs') }}">Выбрать НомерМеста</a>
						</li>
						<li>

{#							<a class="subnav__link" href="{{ path('app.proekts.mestos.okrugs') }}">Инфа  НомерМеста</a>#}
						</li>
						<li>
							<a class="subnav__link" href="{{ path('app.proekts.personaa.diapazon') }}">Выбор ПерсонНомера</a>
						</li>
					</ul>
				</li>


				<li class="nav__item ">

						<a class="nav__link has-subnav   nav-teni" href="#">Участие</a>
						<ul class="subnav">
							<li>
								<a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.uchastiee') }}">Стать участником</a>
							</li>
							<li>
								<a class="subnav__link" href="#">Список групп</a>
							</li>
							<li>
								<a class="subnav__link" href="{{ path('app.proekts.pasekas.uchasties.spisok') }}">Список участников</a>
							</li>

						</ul>
				</li>
				<li class="nav__item">

					<a class="nav__link has-subnav  nav-teni " href="{{ path('proekt') }}">Матки</a>
					<ul class="subnav">
						<li>
							<a class="subnav__link "  href="{{ path('app.proekts.drevorods.drerasa') }}">Родословная</a>
						</li>
						<li>
							<a class="subnav__link "  href="{{ path('app.proekts.pasekas.matkas.plemmatkas.creates') }}">Рег-ция ПлемМатки</a>
						</li>
						<li>
							<a class="subnav__link" href="{{ path('app.proekts.pasekas.matkas.kategor.kategor') }}">Категории ПлемМаток</a>
						</li>
{#						<li>#}
{#							<a class="subnav__link" href="{{ path('app.proekts.pasekas.rasas.plemmatka') }}"> Раса_Линия_Номер</a>#}
{#						</li>#}
						<li>
							<a class="subnav__link" href="{{ path('app.proekts.pasekas.matkas') }}">Список ПлемМаток</a>
						</li>
{#						<li>#}
{#							<a class="subnav__link" href="{{ path('app.proekts.pasekas.childmatkas') }}">Список ДочьМаток </a>#}
{#						</li>#}
					</ul>
				</li>
				<li class="nav__item">
               		<a class="nav__link has-subnav  nav-teni " href="#">Навигация</a>
               		<ul class="subnav">
						<li>
							<a class="subnav__link" href="{{ path('home') }}">Админочка</a>
						</li>

					</ul>
            	</li>
			</ul>
		</nav>

{#		<button class="burgerr " type="button" id="sidebarToggle" >#}
{#			<span>Открыть навигацию</span>#}
{#		</button>#}
	</div>

    <div class="header__right">
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link   nav-teni" href="#">Профиль</a>
				</li>
				<li class="nav__item">
                 <a class="nav__link   nav-teni" href="#">Войти</a>
            	</li> 
			</ul>
		</nav>
{#		<div class="searchh_osnowa ">#}
{#			<form class="searchh"  method="get">#}
{#				<input class="searchh__input" type="text" placeholder="Поиск ">#}
{#	#}
{#			</form>#}
{# 		</div>#}
		
	</div>

</header>
